
        <section class="w1280 commonWrap">
            <article class="left">
                <div class="sideMenu">
                    <div class="side_title">
                        <h3>문화원 소개</h3>
                    </div>
                    <div>
                        <ul class="side_menu">
                            <li class="side_list"><a href="class_guide"><!--선택메뉴에 클래스 이동-->
                                수강안내
                            </a>
                                <!--메뉴 내 서브메뉴(서브메뉴 없다면 ul째로 삭제)-->
                            </li>
                            <li class="side_list"><a href="#" class="side_menu_on">
                                프로그램
                            </a>
                                <ul class="side_submenu">
                                    <li><a href="class" ><!--선택메뉴에 클래스 이동-->
                                        전체보기
                                    </a></li>
                                    <li><a href="#" class="side_submenu_on">
                                        전통문화강좌
                                    </a></li>
                                    <li><a href="#">
                                        예술문화 강좌
                                    </a></li>
                                    <li><a href="#">
                                        음악강좌
                                    </a></li>
                                    <li><a href="#">
                                        생활문화 강좌
                                    </a></li>
                                    <li><a href="#">
                                        어학강좌
                                    </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--sideMenu-->
            </article>
            <article class="commonWrap_box">
                <div class="subtitle">
                    <h2>강좌</h2>
                </div>
                <div class="class_info_wrap">
                    <div class="info_box01">
                        <div class="classimg_wrap">
                            <div class="classI_img"></div>
                        </div> 
                        <div class="class_title">
                            <div class="class_title_txt">
                                <h1>사군자</h1>
                                <div class="class_p">
                                    <span class="class_pn">강좌인원</span>
                                    <span class="class_pn2">
                                        신청가능인원 : 0 명  / 모집인원 : 18 명
                                    </span>
                                </div>
                             </div>
                            <div class="class_info1 ">
                                <ul>
                                    <li class="class_info_li">
                                        <span class="list_title">카테고리</span> 
                                        <span class="list_data">미술 · 서예</span>
                                    </li>
                                    <li class="class_info_li">
                                        <span class="list_title">강사명</span>
                                        <span class="list_data">김용현</span>
                                    </li>
                                    <li class="class_info_li">
                                        <span class="list_title">수강료</span>
                                        <span class="list_data">65,000원</span>
                                    </li>
                                    <li class="class_info_li">
                                        <span class="list_title">강의실</span>
                                        <span class="list_data">2층 1강의실</span>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="class_info_li">
                                        <span class="list_title">개강일</span>
                                        <span class="list_data">2022/06/06</span>
                                    </li>
                                    <li class="class_info_li">
                                        <span class="list_title">수업요일</span>
                                        <span class="list_data">월</span>
                                    </li>
                                    <li class="class_info_li">
                                        <span class="list_title">교육시간</span>
                                        <span class="list_data">10:00 ~ 12:00</span>
                                    </li>
                                    <li class="class_info_li">
                                        <span class="list_title">교육기간</span>
                                        <span class="list_data">12주</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info_box02">
                        <div class="class_info_txt">
                            <span></span>
                            <p>강좌소개</p>
                        </div>
                        <div class="class_info_subtxt">
                            <h2>
                                강사소개
                            </h2>
                            <h3> 김용현선생님</h3>
                            <ul class="info_list">
                                <li>
                                    <span></span>
                                    <p>American 선종대학교 졸업, 중국길림대학 중문과 수료, 수원대학교 조형예술대학원 동양화 졸업</p>
                                </li>
                                <li>
                                    <span></span>
                                    <p>일본 동남아시아대전 공훈 훈장</p>
                                </li>
                                <li>
                                    <span></span>
                                    <p>중국 장대천(대품당) 특빙화사, 일본 신원전 국제공모 최우수 그랑프리상, 한국예술총연합회 문화공로상 외</p>
                                </li>
                                <li>
                                    <span></span>
                                    <p>개인전 19회, 해외전 400여 회</p>
                                </li>
                                <li>
                                    <span></span>
                                    <p>한성대학교, 예원대학교, 고려대학교 교육대학원 강사</p>
                                </li>
                                <li>
                                    <span></span>
                                    <p>(사)한국미협산하단체 도우제(대표), 한국미술협회 자문위원, 서울미술협회 이사, 평창올림픽 집행위원장 외 다수</p>
                                </li> 
                                <li>
                                    <span></span>
                                    <p>>현) 한국미술협회 부이사장, (사)한국예술문화원 고문</p>
                                </li>
                                <li>
                                    <span></span>
                                    <p>현) 한국미술협회 미술교육원 지도교수</p>
                                </li>
                  
                            </ul>
                            <h2>
                                강의내용
                            </h2>
                            <p>1) 이론 각해와 실기</p>
                            <p>2) 사군자 이론과 실기</p>
                            <p>3) 8군자, 10군자, 화조 등</p>
                            <p>4) 화제의 세필 설명에 관한 글씨 연습</p>
                            <h2>
                                수업계획<br><br>
                            </h2>
                            <p>[초급]</p>
                            <p>1주 : 붓의 운필방법, 먹물조정과 붓의 작동법</p>
                            <p>2주 : 난초체본 : 1필, 정두법, 서미법, 제둔법 응용</p>
                            <p>3주 : 체본과 교정</p>
                            <p>4주 : 구성과 필선조정</p>
                            <p>5주 : 교정</p>
                            <p>6주 : 일필과 이필(봉안선)</p>
                            <p>7주 : 정두법(釘頭法, 못대가리)과 첨두법(尖頭法, 바늘)</p>
                            <p>8주 : 제둔법, 음과 양의 조화</p>
                            <p>9주 : 파봉안(破鳳眼, 봉황의 눈)</p>
                            <p>10주 : 즉어두(鯽魚頭, 붕어의 머리모양), 1필, 2필, 3필, 4필</p>
                            <p>11주 : 파난도, 돌에핀, 난초(석난로)</p>
                            <p>12주 : 완성 단계 난초 (구도의 배치) <br><br></p>
                            <p>[연구]</p>
                            <p>1주 : 붓의 운필방법, 먹물조정과 붓의 작동법</p>
                            <p>2주 : 난초체본 : 1필, 정두법, 서미법, 제둔법 응용</p>
                            <p>3주 : 문인화 체본과 교정</p>
                            <p>4주 : 혜란, 난화 체본</p>
                            <p>5주 : 죽, 난초, 석난 체본</p>
                            <p>6주 : 교정법</p>
                            <p>7주 : 구도의 배치법</p>
                            <p>8주 : 그림 소재 찾기</p>
                            <p>9주 : 색채 올리기 연습</p>
                            <p>10주 : 작품 설명, 글씨 넣기</p>
                            <p>11주 : 완성 작품 만들기</p>
                            <p>12주 : 작품 평가 <br> <br></p>
                            <p> ※ 6월 6일 현충일, 8월 15일 광복절 공휴일은 휴강이며, 보강을 진행하지 않습니다. </p>
                            <p>※ 수업 계획은 상황에 따라 변경될 수 있습니다.</p>
                            <h2>
                                교재/준비물
                            </h2>
                            <ul class="info_list">
                                <li>
                                    <span></span>
                                    <p>교재 : <초보자를 위한 도선 김용현 화조도> 제1집(조류편) / 이화 출판사</p>
                                </li> 
                                <li>
                                    <span></span>
                                    <p>준비물 : 붓 1개, 화선지, 먹, 필기도구 등 개인 준비물</p>
                                </li>
                            </ul>
                        </div>
                        <div class="class_ask">
                            <div class="class_ask_01">
                                <h4>찾으시는 내용이 없다면 1:1 문의를 이용하세요.</h4>
                                <p>1:1 문의는 회원만 가능합니다.</p>
                            </div>
                            <div class="class_ask_02">
                                <a href="">
                                    <p> 1:1문의 바로가기</p>
                                </a>
                            </div>
                        </div>
                        <div class="class_enroll">
                            <button>강좌신청</button>
                        </div>
                    </div>
                    <div class="modal">
                        <div class="modal_content">
                            <h3>강좌신청</h3>
                            <div class="modal_txt_wrap">
                                <div class="modal_txt">
                                    <div class="label_wrap">
                                        <label for=""title="이름">이름</label>
                                    </div>
                                    <input type="text">
                                </div>
                                <div  class="modal_txt">
                                    <div class="label_wrap">
                                        <label for=""title="연락처">연락처</label>
                                    </div>
                                    <input type="text">
                                </div>
                                <div  class="modal_txt">
                                    <div class="label_wrap">
                                        <label for="">입금계좌</label>
                                    </div>
                                    <div class="bank">
                                        <span></span>
                                        <p>우리은행</p>
                                        <p>1005-604-280300</p>
                                    </div>
                                </div>
                                <div class="agree">
                                    <input type="checkbox">
                                    <h4>정보제공에 동의합니다</h4>
                                    <span>
                                        (수집된 정보는 강의 목적 용도로만 사용됩니다.)
                                    </span>  
                                </div>
                            </div>
                            <div class="modal_btn_wrap">
                                <button type="button" class="btnL">취소</button>
                                <button type="submit" class="btnR">강좌신청</button>
                            </div>
                        </div>
                    </div>
                </div> 
            </article>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../js/class.js"></script>
        <script src="../js/sidemenu.js"></script>

