
        <section class="w1280 commonWrap">
            <article class="left">
                <div class="sideMenu">
                    <div class="side_title">
                        <h3>문화원 소개</h3>
                    </div>
                    <div>
                        <ul class="side_menu">
                            <li class="side_list"><a href="class_guide"><!--선택메뉴에 클래스 이동-->
                                수강안내
                            </a>
                                <!--메뉴 내 서브메뉴(서브메뉴 없다면 ul째로 삭제)-->
                            </li>
                            <li class="side_list"><a href="#">
                                프로그램
                            </a>
                                <ul class="side_submenu">
                                    <li><a href="class" class="side_submenu_on"><!--선택메뉴에 클래스 이동-->
                                        전체보기
                                    </a></li>
                                    <li><a href="#">
                                        전통문화강좌
                                    </a></li>
                                    <li><a href="#">
                                        예술문화 강좌
                                    </a></li>
                                    <li><a href="#">
                                        음악강좌
                                    </a></li>
                                    <li><a href="#">
                                        생활문화 강좌
                                    </a></li>
                                    <li><a href="#">
                                        어학강좌
                                    </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--sideMenu-->
            </article>
            <article class="commonWrap_box">
                <div class="subtitle">
                    <h2>수강신청</h2>
                </div>
                <div class="class_notice">
                    <div class="class_notice_txt">
                        <h3>
                            ※ 수강 신청시 주의사항
                        </h3>
                        <p>
                            1. 결제자와 수강생이 다를 경우 반드시 직원에게 통보하시기 바랍니다. 
                            <br>
                            2. 강좌의 폐강시에만 개별 문자 공지합니다. (개강시 별도 공지 없음) <br>
                            3. 과목명(강좌명), 요일, 시간, 수강료, 개강일(수강안내)를 반드시 확인하시기 바랍니다.
                        </p>
                    </div>
                </div>
                <div class="select_box">
                    <ul class="check_box">
                        <li class="sort_wrap">
                            <p>분야</p>
                            <div>
                                <select name="sort" title="분야" class="sort selects">
                                    <option value="00">분야전체</option>
                                    <option value="01">건강레크레이션</option>
                                    <option value="02">생활문화</option>
                                    <option value="03">어린이</option>
                                    <option value="04">어학</option>
                                    <option value="05">예술문화</option>
                                    <option value="06">음악</option>
                                    <option value="07">전통문화</option>
                                    <option value="08">직장인(야간)</option>
                                    <option value="09">토요일</option>
                                    <option value="10">어린이치어리딩</option>
                                    <option value="11">요가(야간)</option>
                                    <option value="12">팝송</option>
                                    <option value="13">한글서예(야간)</option>
                                    <option value="14">아카데미</option>
                                </select>
                            </div>
                        </li>
                        <li class="date_wrap">
                            <p>기간</p>
                            <div>
                                <div class="select_wrap">
                                    <select name="year" class="year selects">
                                        <option value="2018">2022</option>
                                        <option value="2019">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2019</option>
                                        <option value="2022">2018</option>
                                    </select> 
                                    <p>년</p>
                                    <select name="month" class="month selects">
                                        <option value="jen">01</option>
                                        <option value="feb">02</option>
                                        <option value="mar">03</option>
                                        <option value="apr">04</option>
                                        <option value="may">05</option>
                                        <option value="jun">06</option>
                                        <option value="jul">07</option>
                                        <option value="aug">08</option>
                                        <option value="sep">09</option>
                                        <option value="oct">10</option>
                                        <option value="nov">11</option>
                                        <option value="dec">12</option>
                                    </select>
                                    <p>월</p>
                                </div>
                                <div class="select_wrap">
                                    <select name="year" class="year selects">
                                        <option value="2018">2022</option>
                                        <option value="2019">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2019</option>
                                        <option value="2022">2018</option>
                                    </select> 
                                    <p>년</p>
                                    <select name="month" class="month selects">
                                        <option value="jen">01</option>
                                        <option value="feb">02</option>
                                        <option value="mar">03</option>
                                        <option value="apr">04</option>
                                        <option value="may">05</option>
                                        <option value="jun">06</option>
                                        <option value="jul">07</option>
                                        <option value="aug">08</option>
                                        <option value="sep">09</option>
                                        <option value="oct">10</option>
                                        <option value="nov">11</option>
                                        <option value="dec">12</option>
                                    </select>  
                                    <p>월</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="check_box02">
                        <p>검색</p>
                        <div class="search_box">
                            <input type="text" placeholder="검색어를 입력하세요">
                            <button type="submit">
                                <span></span>
                                <p>검색</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="class_info">
                    <figure>
                        <a href="class_info">
                            <div class="class_img img1">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>사군자</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>월</li>
                                        <li>10:00 ~ 12:00</li>
                                        <li>김용현</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img2">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>경기민요</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>화</li>
                                        <li>12:40 ~ 14:40</li>
                                        <li>김성자</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img3">
                                <em class="close">접수마감</em>
                            </div>
                            <figcaption>
                                <h3>중국어 기초반</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>월,수</li>
                                        <li>14:30 ~ 15:50</li>
                                        <li>최평</li>
                                        <li>110,000원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img4">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>수채화 & 데생</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>금</li>
                                        <li>13:00 ~ 15:30</li>
                                        <li>박윤남</li>
                                        <li>80,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img5">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>서예</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>수</li>
                                        <li>10:00 ~ 12:00</li>
                                        <li>김용현</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img6">
                                <em class="close">접수마감</em>
                            </div>
                            <figcaption>
                                <h3>어린이주산</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>월</li>
                                        <li>16:00 ~ 16:50</li>
                                        <li>권민정</li>
                                        <li>80,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img7">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>중국어 중급</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>화,목</li>
                                        <li>10:00 ~ 12:00</li>
                                        <li>김용현</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img5">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>서예</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>수</li>
                                        <li>10:00 ~ 12:00</li>
                                        <li>김용현</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img5">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>서예</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>수</li>
                                        <li>10:00 ~ 12:00</li>
                                        <li>김용현</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img5">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>서예</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>수</li>
                                        <li>10:00 ~ 12:00</li>
                                        <li>김용현</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img5">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>서예</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>수</li>
                                        <li>10:00 ~ 12:00</li>
                                        <li>김용현</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img5">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>서예</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>수</li>
                                        <li>10:00 ~ 12:00</li>
                                        <li>김용현</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                    <figure>
                        <a href="">
                            <div class="class_img img5">
                                <em>신청가능</em>
                            </div>
                            <figcaption>
                                <h3>서예</h3>
                                <div class="class_txt">
                                    <ul>
                                        <li>수업요일</li>
                                        <li>교육시간</li>
                                        <li>강사명</li>
                                        <li>수강료</li>
                                    </ul>
                                    <ul>
                                        <li>수</li>
                                        <li>10:00 ~ 12:00</li>
                                        <li>김용현</li>
                                        <li>65,000 원</li>
                                    </ul>
                                </div>
                            </figcaption>
                        </a>
                    </figure>
                </div>
                <div class="page">
                    <ul>
                       <li><a href=""><img src="/img/common/icon_a_pre.png"></a></li>
                       <li><a href=""><img src="/img/common/icon_pre.png"></a></li>
                       <li><a href="" class="active">1</a></li>
                       <li><a href="">2</a></li>
                       <li><a href="">3</a></li>
                       <li><a href="">4</a></li>
                       <li><a href="">5</a></li>
                       <li><a href=""><img src="/img/common/icon_a_nex.png"></a></li>
                       <li><a href=""><img src="/img/common/icon_nex.png"></a></li>
                    </ul>
                </div>
            </article>
        </section>
