
        <section class="w1280 commonWrap">
            <article class="left">
                <div class="sideMenu">
                    <div class="side_title">
                        <h3>문화원 소개</h3>
                    </div>
                    <div>
                        <ul class="side_menu">
                            <li class="side_list"><a href="class_guide"><!--선택메뉴에 클래스 이동-->
                                수강안내
                            </a>
                                <!--메뉴 내 서브메뉴(서브메뉴 없다면 ul째로 삭제)-->
                            </li>
                            <li class="side_list"><a href="#" >
                                프로그램
                            </a>
                                <ul class="side_submenu">
                                    <li><a href="class"><!--선택메뉴에 클래스 이동-->
                                        전체보기
                                    </a></li>
                                    <li><a href="#">
                                        전통문화강좌
                                    </a></li>
                                    <li><a href="#">
                                        예술문화 강좌
                                    </a></li>
                                    <li><a href="#">
                                        음악강좌
                                    </a></li>
                                    <li><a href="#">
                                        생활문화 강좌
                                    </a></li>
                                    <li><a href="#">
                                        어학강좌
                                    </a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--sideMenu-->
            </article>
            <article class="commonWrap_box">
                <div class="subtitle">
                    <h2>수강안내</h2>
                </div>
                <div class="sub_wrap">
                    <h3>수강기간</h3>
                    <img src="/img/class/class_date.jpg" alt="">
                </div>
                <div class="sub_wrap">
                    <h3>신청방법</h3>
                    <h4>① 인터넷 접수</h4>
                    <img src="/img/class/class_join.jpg" alt="">
                    <div class="sub_wrap_txt">
                        <h4>접수시간 :</h4>
                        <p>
                            접수 시작일 10:00 ~ 접수 마감일 17:00 까지 <br> 
                            ※결제자와 실제 수강생이 상이할 경우 반드시 담당자에게 통보하여 주시기 바랍니다. <br> 
                            ※강좌 신청시 과목명과 요일, 수강료를 반드시 확인하여 주시기 바랍니다.
                        </p>
                    </div>
                    <div class="sub_wrap_txt">
                        <h4>할인적용 :</h4>
                        <p>
                            회원가입→사무국으로 증빙서류 제출 및 확인→회원정보 할인적용<br> 
                            ※증빙서류를 구비한 후, 노원문화원 사무국으로 연락주시기 바랍니다.<br> 
                            ※반드시 증빙서류 확인 후 할인적용이 가능하며, 추후 할인적용은 불가합니다.
                        </p>
                    </div>
                    <h4>② 방문 접수</h4>
                    <div class="sub_wrap_txt">
                        <h4>접수시간 :</h4>
                        <p>
                            평일 10:00~17:00 (점심시간 12:00~13:00)
                        </p>
                    </div>
                    <div class="sub_wrap_txt">
                        <h4>접수처 :</h4>
                        <p>
                            노원문화원 1층 키오스크
                        </p>
                    </div>
                    <div class="sub_wrap_txt">
                        <h4>접수방법 :</h4>
                        <p>
                            키오스크 회원카드 태그 후 카드결제 <br> 
                            신규접수일 경우, 회원카드 발급이 필요합니다. <br> 
                            회원카드 첫 1회 발급은 무료이며, 분실 시 재발급 비용 1,000원이 발생합니다.
                        </p>
                    </div>
                    <div class="sub_wrap_txt">
                        <h4>할인적용 :</h4>
                        <p>
                            방문 시 증빙서류 지참→증빙서류 확인 후 회원카드 할인 적용  <br> 
                            반드시 증빙서류 확인 후 할인적용이 가능하며, 추후 할인적용은 불가합니다.
                        </p>
                    </div>
                </div>
                    <div class="sub_wrap">
                        <h3>취소·환불·변경 규정</h3>
                        <div class="sub_wrap_txt">
                            <h4>취소신청 :</h4>
                            <p>
                                인터넷 / 전화 / 방문신청
                            </p>
                        </div>
                        <div class="sub_wrap_txt">
                            <h4>환불신청 :</h4>
                            <p>
                                전화 / 방문 신청(인터넷 신청 불가)
                                <span>* 매월 25일 전까지 신청</span>
                                <span>* 계좌정보 및 결제카드 확인 필요</span>
                            </p>
                        </div>
                        <div class="sub_wrap_txt">
                            <h4>환불금액 :</h4>
                            <p>
                                1) 폐강시 : 전액환불 <br>
                                2) 개강 전 : 전액환불 <br>
                                3) 개강 후 :  당해 월을 제외한 남은 달만 환불<br>
                            </p>
                        </div>
                        <div class="sub_wrap_txt">
                            <h4>환불금액 계산방법 :</h4>
                            <p>
                                수강료/3 x 남은 달수<br>
                                <span class="txt_gray">
                                예 ) 3월 환불신청 : 수강료 90,000원/3 x 2개월(4, 5월)=60,000원 <br>
                                4월 환불신청 : 수강료 90,000원/3 x 1개월(5월)=30,000원 <br>
                                5월(마지막 달) 환불신청 불가
                                </span>
                            </p>
                        </div>
                        <div class="sub_wrap_txt">
                            <h4>변경신청 :</h4>
                            <p>
                                전화 / 방문신청 (인터넷 신청 불가)
                                <span class="txt_gray">
                                   * 1회에 한하여 가능
                                </span>
                                개강후 변경 불가 
                            </p>
                        </div>
                        <div class="sub_wrap_txt">
                            <h4>환불 및 변경차액 지급방법 :</h4>
                            <p>
                                무통장입금 (매월 말 일괄입금), 카드취소 (카드사별 상이)
                            </p>
                            <span class="txt_orange">
                                * 현금반환 불가
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sub_wrap">
                    <h3>유의사항</h3>
                    <div class="sub_txt">
                        <p>수강에 필요한 교재, 재료비, 악기대여비 등은 별도 개인 부담입니다.</p>
                        <p>적정 수강인원에 미달될 경우 폐강될 수 있습니다.</p>
                        <p>공휴일은 휴강이며, 별도의 보강이 없습니다. 단, 기타 사유로 인한 휴강은 보강합니다.</p>
                        <p>수강생 명의는 타인에게 대여 및 양도할 수 없으며, 위반 시 수강신청이 취소됩니다.</p>
                    </div>
                   
                </div>
            </article>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../js/sidemenu.js"></script>

