
        <div class="w1280 commonWrap">
            <section class="sideMenu_wrap">
                <div class="sideMenu">
                    <div class="side_title">
                        <h3>문화행사/대관</h3>
                    </div>
                    <div>
                        <ul class="side_menu">
                            <li class="side_list"><a href="event_culture"><!--선택메뉴에 클래스 이동-->
                                이달의 행사
                            </a>
                            <ul class="side_submenu">
                                <li><a href="" class="side_submenu_on"><!--선택메뉴에 클래스 이동-->
                                    문화행사
                                </a></li>
                                <li><a href="#">
                                    학술행사
                                </a></li>
                                <li><a href="#">
                                    갤러리
                                </a></li>
                            </ul>
                            </li>
                            <li class="side_list"><a href="#">
                                주요 문화 행사
                            </a></li>
                            <li class="side_list"><a href="#">
                                행사신청
                            </a></li>
                            <li class="side_list"><a href="#">
                                문화관광 해설사
                            </a></li>
                            <li class="side_list"><a href="#">
                                대관안내
                            </a></li>
                        </ul>
                    </div>
                </div><!--sideMenu-->
            </section>
            <section class="commonWrap_box m_event">
                <h4>이달의 행사</h4>
                <ul class="event_list">
                    <li>
                        <a href="event_1.html">
                            <div class="event_img1"></div>
                            <p class="eventC_txt">
                                역사문화 힐링 토요탐방 안내
                                <span>2022/04/12</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img2"></div>
                            <p class="eventC_txt">
                                2021 노원문화원 국악예술단 정기공연 '마음을 열고 아리랑'
                                <span>2021/12/21</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img3"></div>
                            <p class="eventC_txt">
                                만해 한용운 추모 창작 뮤지컬 ‘심우’ 공연 안내
                                <span>2022/06/07</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img4"></div>
                            <p class="eventC_txt">
                                제1회 성북 마을기록 전시 《우리의 기억, 성북의 기록으로》
                                <span>2021/10/28</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img5"></div>
                            <p class="eventC_txt">
                                2021  성북동밤마실
                                <span>2021/10/28</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img6"></div>
                            <p class="eventC_txt">
                                2021 성북천 깃발전
                                <span>2021/09/29</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img7"></div>
                            <p class="eventC_txt">
                                고려대 안암동 캠퍼스타운
                                <span>2019/09/20</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img8"></div>
                            <p class="eventC_txt">
                                2021 프리미엄 인문학 [성북x키즈: 미술편]
                                <span>2021/06/23</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img9"></div>
                            <p class="eventC_txt">
                                만해 한용운 추모 창작 뮤지컬 ‘심우’ 공연 안내
                                <span>2021/06/22</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img10"></div>
                            <p class="eventC_txt">
                                <그남자264> 낭독극 온라인 상영 안내
                                <span>2020/12/10</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img11"></div>
                            <p class="eventC_txt">
                                성북구 마을기록단 양성을 위한 기초과정 수강생 모집
                                <span>2019/11/11</span>
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="event_img12"></div>
                            <p class="eventC_txt">
                                [융복합 창작 무용극 - 여성독립운동가 열전2 : 시대를 이끈 10人 10色]
                                <span>2019/11/10</span>
                            </p>
                        </a>
                    </li>
                </ul>
                <div class="page">
                    <ul>
                       <li><a href=""><img src="/img/common/icon_a_pre.png"></a></li>
                       <li><a href=""><img src="/img/common/icon_pre.png"></a></li>
                       <li><a href="" class="active">1</a></li>
                       <li><a href="">2</a></li>
                       <li><a href="">3</a></li>
                       <li><a href="">4</a></li>
                       <li><a href="">5</a></li>
                       <li><a href=""><img src="/img/common/icon_a_nex.png"></a></li>
                       <li><a href=""><img src="/img/common/icon_nex.png"></a></li>
                    </ul>
                </div>
            </section>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../js/sidemenu.js"></script>

