        <section class="w1280 commonWrap">
            <div class="sideMenu">
                <div class="side_title">
                    <h3>참여마당</h3>
                </div>
                <div>
                    <ul class="side_menu">
                        <li><a href="#" >
                            알림마당
                        </a>
                        </li>
                        <li><a href="#">
                            자유게시판
                        </a></li>
                        <li><a href="event" class="side_menu_on">
                            이벤트
                        </a></li>
                        <li><a href="#">
                            Q&A
                        </a></li>
                        <li><a href="#">
                            언론보도
                        </a></li>
                        <li><a href="pressrelease">
                            보도자료
                        </a></li>
                    </ul>
                </div>
            </div><!--sideMenu-->
            <div class="commonWrap_box">
                <div class="sublogo">이벤트</div>
                <div class="cdct_search">
                    <form action="">
                        <select name="seachbox" id="seachbox">
                            <option value="txt">내용</option>
                            <option value="title">제목</option>
                        </select>
                        <div class="cdct_txt">
                            <input type="text" placeholder="검색어를 입력해주세요">
                            <label for="cdct_submit">
                            </label>
                            <input type="submit" id="cdct_submit">
                        </div>
                    </form>
                </div>
                <table>
                    <colgroup>
                        <col style="width: 10%;">
                        <col style="width: 5%;">
                        <col style="width: 55%;">
                        <col style="width: 15%;">
                        <col style="width: 15%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th></th>
                            <th>제목</th>
                            <th><span>작성자</span></th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a>4</a></td>
                            <td></td>
                            <td><a href="">(마감)정월대보름 이벤트(2.16~2.26)</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2021.01.16</a></td>
                        </tr>
                        <tr>
                            <td><a>3</a></td>
                            <td></td>
                            <td><a href="">(종료)홈페이지 리뉴얼 이벤트</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2021.02.01</a></td>
                        </tr>
                        <tr>
                            <td><a>2</a></td>
                            <td></td>
                            <td><a href="">(종료)‘집콕’ 우리 동네 문화유산 여행 </a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2021.01.29</a></td>
                        </tr>
                        <tr>
                            <td><a>1</a></td>
                            <td></td>
                            <td><a href="">(종료)신축년 새해 이벤트 &lt;집에 있소!&gt;(29일까지 연장)</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2021.01.29</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn_write"><a href="">글쓰기</a></div>
                <div class="page">
                    <a href="">&lt;&lt;</a>
                    <a href="">&lt;</a>
                    <a href="">1</a>
                    <a href="">&gt;</a>
                    <a href="">&gt;&gt;</a>
                </div>
            </div>
        </section>
