
        <section class="w1280 commonWrap">
            <div class="sideMenu">
                <div class="side_title">
                    <h3>문화원 소개</h3>
                </div>
                <div>
                    <ul class="side_menu">
                        <li><a href="#"><!--선택메뉴에 클래스 이동-->
                            알림마당
                        </a>
                        </li>
                        <li><a href="#">
                            자유게시판
                        </a></li>
                        <li><a href="#" class="side_menu_on">
                            이벤트
                        </a></li>
                        <li><a href="#">
                            Q&A
                        </a></li>
                        <li><a href="#">
                            언론보도
                        </a></li>
                        <li><a href="#">
                            보도자료
                        </a></li>
                    </ul>
                </div>
            </div><!--sideMenu-->
            <div class="commonWrap_box">
                <div class="sublogo">이벤트</div>
                <h1>(마감)정월대보름 이벤트(2.16~2.26)
                    <p>2021-02-16</p>
                </h1>
                <section>
                    <p><span></span></p>
                    <p><span></span></p>
                    <h2>［노원문화원 정월대보름 이벤트］
                        <p>달님에게 소원빌고 노원문화원에서 선물받으세요!</p>
                    </h2>
                    <h4>2월 26일 정월대보름 맞이 이벤트를 준비했습니다.
                        <p><span class="red">소원을 적어 보내주시면 100분께 부럼세트를 선물로 보내드립니다.</span></p>
                    </h4>
                    <h4>■ 신청기간 : 2021.2.16.(화)~2021.2.26.(금)( 선착순 100명 마감)
                        <p>■ 신청방법 : 네이버 폼 작성</p>
                        <p><a href="http://naver.me/xdIDM4pf">http://naver.me/xdIDM4pf</a></p>
                    </h4>
                    <h4>여러분의 소원이 이루어지길
                        <p>노원문화원이 함께 빌겠습니다.</p>
                    </h4>
                    <h4>※적어주신 소원은 영상으로 제작할 예정입니다.
                    </h4>
                    <img src="img/event/_20210216110640.jpg">
                </section>
                <div class="comment">
                    <p>1개의 댓글이 있습니다.</p>
                    <input type="text" id="write">
                    <div class="cm" onclick="cm()" >댓글등록</div>
                    <div class="comment_box">
                        <ul>
                            <li>
                                <h2><span>백경민</span>님의 댓글입니다. 2022.5.20</h2>
                                <p>이벤트좀 많이 열어주세요</p>
                            </li>
                        </ul>
                        <div class="comment_box" id="box">

                        </div>
                    </div>
                </div>
                    <div class="btn_list"><a href="">목록</a></div>
                    <ul class="next">
                        <li>
                            <p>↑ 이전글</p>
                            <a href="">(종료)홈페이지 리뉴얼 이벤트</a>
                        </li>
                        <li>
                            <p>↓ 다음글</p>
                            <a href=""></a>
                        </li>
                    </ul>
            </div>
        </section>
