<div class="header_top">
    <div class="header_inner">
        <ul class="sns">
            <li><a class="youtube" href=""></a></li>
            <li><a class="facebook" href=""></a></li>
            <li><a class="blog" href=""></a></li>
            <li><a class="insta" href=""></a></li>
            <li><a class="kakaoch" href=""></a></li>
        </ul>
        <ul class="info">
            <li><a href="nowon_login">로그인 |&nbsp;</a></li>
            <li><a href="nowon_signup">회원가입</a></li>
            <!-- <li><a href="">참여마당</a></li> -->
        </ul>
    </div>
</div>
<div class="header_bot">
    <div class="header_inner">
        <h1 class="logo">
            <a href="/"></a>
        </h1>
        <div class="gnbWrap">
            <ul class="gnb">
                <li>
                    <a href="nowon_introText">문화원 소개</a>
                </li>
                <li>
                    <a href="event_culture">문화행사/대관</a>
                </li>
                <li>
                    <a href="class">문화강좌</a>
                </li> 
                <li>
                    <a href="notice">참여마당</a>
                </li>
                <li>
                    <a href="vision">노원 아카이브</a>
                </li>
                <li>
                    <a href="#">기부/후원</a>
                </li>
            </ul>
            <span class="hoverBar"></span>
            <div>
                <div class="menu_pan">
                    <div class="menu">
                        <div class="menuTitle">
                            <div class="menuTitlebox">
                                <strong>문화원 소개</strong>
                                <p>Nowon Cultural center</p>
                                <div class="menuImg mimg1"></div>
                            </div>
                        </div>
                        <div class="menu_category">
                            <div class="category"><a href="nowon_introText">인사말</a></div>
                            <div class="category"><a href="nowon_introIntro">노원문화원 소개</a></div>
                            <div class="category"><a href="nowon_introHistory">연혁</a></div>
                            <div class="category"><a href="nowon_introOrganiz">조직구성</a></div>
                            <div class="category"><a href="nowon_introBOD">임원현황/역대원장</a></div>
                        </div>
                        <div class="menu_category">
                            <div class="category"><a href="nowon_introConduct">운영현황</a></div>
                            <div class="category"><a href="nowon_introFacility">시설현황</a></div>
                            <div class="category"><a href="">회원안내</a></div>
                            <div class="category"><a href="">협력기관</a></div>
                            <div class="category"><a href="nowon_introMap">찾아오시는 길</a></div>
                        </div>
                    </div>
                </div>

                <div class="menu_pan">
                    <div class="menu">
                        <div class="menuTitle">
                            <div class="menuTitlebox">
                                <strong>문화행사/대관</strong>
                                <p>Culture event / Rental halls</p>
                                <div class="menuImg mimg2"></div>
                            </div>
                        </div>
                        <div class="menu_category">
                            <div class="category"><a href="event_culture">이달의 행사</a></div>
                            <div class="category"><a href="">주요 문화행사</a></div>
                            <div class="category"><a href="">행사 신청</a></div>
                            <div class="category"><a href="">문화관광 해설사</a></div>
                            <div class="category"><a href="">대관안내</a></div>
                        </div>
                    </div>
                </div>

                <div class="menu_pan">
                    <div class="menu">
                        <div class="menuTitle">
                            <div class="menuTitlebox">
                                <strong>문화강좌</strong>
                                <p>Cultural Lecture</p>
                                <div class="menuImg mimg3"></div>
                            </div>
                        </div>
                        <div class="menu_category">
                            <div class="category"><a href="class_guide">수강안내</a></div>
                            <div class="category"><a href="class">프로그램</a></div>
                        </div>
                    </div>
                </div>

                <div class="menu_pan">
                    <div class="menu">
                        <div class="menuTitle">
                            <div class="menuTitlebox">
                                <strong>참여마당</strong>
                                <p>Community</p>
                                <div class="menuImg mimg4"></div>
                            </div>
                        </div>
                        <div class="menu_category">
                            <div class="category"><a href="">알림마당</a></div>
                            <div class="category"><a href="">자유 게시판</a></div>
                            <div class="category"><a href="event">이벤트</a></div>
                            <div class="category"><a href="">Q&A</a></div>
                            <div class="category"><a href="">언론보도</a></div>
                            <div class="category"><a href="pressrelease">보도자료</a></div>
                        </div>
                    </div>
                </div>
                
                <div class="menu_pan">
                    <div class="menu">
                        <div class="menuTitle">
                            <div class="menuTitlebox">
                                <strong>노원 아카이브</strong>
                                <p>Nowon Archive</p>
                                <div class="menuImg mimg5"></div>
                            </div>
                        </div>
                        <div class="menu_category">
                            <div class="category"><a href="vision">노원 역사문화</a></div>
                            <div class="category"><a href="history_Wolgye">노원 관광지도</a></div>
                            <div class="category"><a href="nongyo">마들농요</a></div>
                            <div class="category"><a href="">사진앨범</a></div>
                            <div class="category"><a href="">동영상 앨범</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menuMobi">
            <a href=""></a>
        </div>
        <div class="mobi_gnbWrap">
            <ul class="gnb_btnWrap">
                <li><a href="nowon_login">로그인</a></li>
                <li><a href="nowon_signup">회원가입</a></li>
                <li><a href="#" class="closeBtn"></a></li>
            </ul>
            
            <ul class="mobi_gnb">
                <li>
                    <a href="">문화원소개</a>
                    <ul class="mobi_gnb_list">
                        <li><a href="nowon_introText">인사말</a></li>
                        <li><a href="nowon_introIntro">노원문화원 소개</a></li>
                        <li><a href="nowon_introHistory">연혁</a></li>
                        <li><a href="nowon_introOrganiz">조직구성</a></li>
                        <li><a href="nowon_introBOD">임원현황/역대원장</a></li>
                        <li><a href="nowon_introConduct">운영현황</a></li>
                        <li><a href="nowon_introFacility">시설현황</a></li>
                        <li><a href="">회원안내</a></li>
                        <li><a href="">협력기관</a></li>
                        <li><a href="nowon_introMap">찾아오시는 길</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">문화행사/대관</a>
                    <ul class="mobi_gnb_list">
                        <li><a href="event_culture">이달의 행사</a></li>
                        <li><a href="">주요 문화 행사</a></li>
                        <li><a href="">행사신청</a></li>
                        <li><a href="">문화관광 해설사</a></li>
                        <li><a href="">대관안내</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">문화강좌</a>
                    <ul class="mobi_gnb_list">
                        <li><a href="class_guide">수강안내</a></li>
                        <li><a href="class">프로그램</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">참여마당</a>
                    <ul class="mobi_gnb_list">
                        <li><a href="">알림마당</a></li>
                        <li><a href="">자유게시판</a></li>
                        <li><a href="event">이벤트</a></li>
                        <li><a href="">Q&A</a></li>
                        <li><a href="">언론보도</a></li>
                        <li><a href="pressrelease">보도자료</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">노원아카이브</a>
                    <ul class="mobi_gnb_list">
                        <li><a href="vision">노원 역사문화</a></li>
                        <li><a href="history_Wolgye">노원관광지도</a></li>
                        <li><a href="nongyo">마들농요</a></li>
                        <li><a href="">사진앨범</a></li>
                        <li><a href="">동영상 앨범</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">기부/후원</a>
                    <ul></ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/header.js"></script>
<script src="js/headerm.js"></script>