
        <section class="w1280 commonWrap">
            <div class="sideMenu">
                <div class="side_title">
                    <h3>노원 아카이브</h3>
                </div>
                <div>
                    <ul class="side_menu">
                        <li  class="side_list"><a href="#" ><!--선택메뉴에 클래스 이동-->
                            노원 역사문화
                        </a>
                            <!--메뉴 내 서브메뉴(서브메뉴 없다면 ul째로 삭제)-->
                            <ul class="side_submenu">
                                <li ><a href="vision" ><!--선택메뉴에 클래스 이동-->
                                    노원의 비전과 상징
                                </a></li>
                                <li><a href="history_nowon">
                                    노원의 역사
                                </a></li>
                            </ul>
                        </li>
                        <li  class="side_list"><a href="#">
                            노원관광지도
                        </a>
                            <ul class="side_submenu">
                                <li><a href="history_Wolgye" class="side_submenu_on"><!--선택메뉴에 클래스 이동-->
                                    월계동
                                </a></li>
                                <li><a href="#">
                                    공릉동
                                </a></li>
                                <li><a href="history_Sanggye" >
                                    상계동
                                </a></li>
                                <li><a href="#">
                                    중계동
                                </a></li>
                                <li><a href="#">
                                    하계동
                                </a></li>
                            </ul>
                        </li>
                        <li  class="side_list"><a href="nongyo">
                            마들농요
                        </a></li>
                        <li  class="side_list"><a href="#">
                            사진 앨범
                        </a></li>
                        <li  class="side_list"><a href="#">
                            동영상 앨범
                        </a></li>
                    </ul>
                </div>
            </div><!--sideMenu-->
            <div class="commonWrap_box">
                <div class="sublogo">노원 관광 지도</div>
                <h1><span class="yellow"></span>월계동</h1>
                <section class="map wolgye">
                    <img src="img/archive/노원 월계.png">
                </section>
                <section class="his">
                    <h1><span class="yellow"></span>지명 유래</h1>
                    <p>월계라는 동명은 밤에 높은 곳에서 월계동 지역을 내려다보니 맑은 시냇물에 달이 비치고 중랑천과 우이천으로 둘러싸인 모양이 마치 반달모양이므로 달 월(月)에 시내 계(溪)자를 붙여 월계동이라 하였다.</p>
                </section>
                <section class="tour">
                    <h1><span class="yellow"></span>주변 관광지</h1>
                    <article>
                        <div class="swiper historySwiper">
                            <div class="swiper historySwiper">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide swiper_his">
                                    <figure class="tour_modal">
                                        <div class="tourImg imgW1">
                                        </div>
                                    
                                        </span>
                                            <figcaption>
                                                <h2>서울 초안산 분묘군</h2>
                                                <h4>조선시대 환관(宦官)의 묘역과 씨족묘 등 조선시대 전시기에 걸쳐 여러계층의 분묘가 집중적으로 분포되어 있어 조선시대 장묘문화에 귀중한 자료적 가치가 있으며, 특히 내시(內侍)의 분묘가 많고, 1694년의 연대가 명기된 내시 승극철 부부묘가 있어 내시생활 연구의 기초자료를 제공하고 있다.</h4>
                                            </figcaption>
                                    </figure>
                                  </div>
                                  <div class="swiper-slide swiper_his">
                                    <figure>
                                        <div class="tourImg imgW2"></div>
                                            <figcaption>
                                                <h2>초안산 근린공원 축구장</h2>
                                                <h4>초안산은 1971년도에 근린공원으로 지정되어 시민들의 활용도가 높으며 조선시대 묘제를 확인 할 수 있는 중요 국가지정문화재(사적제 440호)가 있으며 종합적인 정비계획에 따라 역사문화유산을 보존·관리하고 근린공원 시설과 연계한 시민의 휴식공간 조성을 추진하고 있음. 초안산 인조잔디 축구장은 6,630㎡(102m×65m) 규모의 국제규격으로 500석의 관람석 길이 350m의 조깅트랙을 갖추고 있다. 이와 함께 배드민턴장, 농구장, 테니스장 등의 운동시설을 두루 갖춘 체육복합 공간이다.</h4>
                                            </figcaption>
                                    </figure>
                                  </div>
                                  <div class="swiper-slide swiper_his">
                                    <figure>
                                        <div class="tourImg imgW3"></div>
                                            <figcaption>
                                                <h2>각심재(恪心齋)</h2>
                                                <h4>월계동 766번지에 있는 건평 51평의 건물로 종로구 경운동 66-7에 있던 것을 1994년 3월 18일 현재의 장소로 이전한 것이다.
                                                화신백화점을 설계한 박길룡의 작품으로 한식가옥에 현관을 만들고 화장실과 목욕탕을 건물내부에 설치하여 복도로 연결시킨 건축양식 등은 1930년대 후반 개량 한옥의 모습을 잘 나타내 있으며, 한국 주택사의 변천을 알 수 있다. </h4>                                   
                                            </figcaption>
                                    </figure>
                                  </div>
                                  <div class="swiper-slide swiper_his">
                                    <figure>
                                        <div class="tourImg imgW4"></div>
                                            <figcaption>
                                                <h2>이명신도비(李蓂神道碑)</h2>
                                                <h4>이 신도비는 조선 명종때 좌의정을 지낸 청백리 이명을 기념하기 위해 세운 것으로 선조 7년(1574년)에 건립되었다. 이명(1496～1572)선생의 자는 요서로서 연간현감 이보간의 아들로 태어났다. 조선중기의 문신으로 중종20년 사마시에 합격, 1528년 식년문과에 병과로 급제, 1544년 직제학으로 승진하여 동부승지·우부승지가 되었으며 1553년 이조참판이 되어 특진관으로 입시, 을사사화 때 화를 입은 사람의 신원을 주장하여 왕의 승낙을 얻고 그날로 형조판서에 올랐다. 이어서 호조, 공조의 판서를 역임하고 1564년 우의정이 되었다. 성품이 단정하며 직무에 충실하였을 뿐만 아니라, 올바른 주장은 절대 굽히지 않았다 한다. 일생을 청백리로 일관하다 생을 마쳤으며, 죽은 후 정간이라는 시호가 붙여졌다.
                                                비는 네모난 받침돌 위로 비몸을 세운 모습이며, 비몸의 윗쪽 양변을 둥글게 다듬었다. 받침돌은 윗면에 연꽃무늬를 둘렀으며, 옆의 4면에는 안상(眼象)을 얕게 새겨 두었다.
                                                선조 7년(1574)에 세운 비로, 대제학과 우의정을 지낸 김귀영이 비문을 짓고, 병조판서 신충겸이 글씨를 썼다.
                                                이밖에도 묘역에는 공의 부, 조모 삼대의 분묘와 실전된 선조들의 설단이 있다.</h4>                                    
                                            </figcaption>
                                    </figure>
                                  </div>
                                </div>
                                <div class="arrow icon_r"></div>
                                <div class="arrow icon_l"></div>
                              </div>
                              <div class="modal_his">
                                <div class="modal_his_content">
                                    <div class="his_info_wrap">
                                    <div class="info_his_box01">
                                        <div class="classimgH_wrap">
                                            <div class="modal_his_img"></div>
                                        </div> 
                                        <div class="his_title">
                                            <div class="his_title_txt">
                                                <h1>서울 초안산 분묘군</h1>
                                                <div class="class_p">
                                                    <span class="class_pn2">
                                                        Tombs in Choansan Mountain, Seoul
                                                    </span>
                                                </div>
                                             </div>
                                            <div class="classH_info">
                                                <ul>
                                                    <li>
                                                        <span class="listH_title">분류</span> 
                                                        <span class="listH_data">유적건조물 / 유물산포지유적산포지 / 유적분포지</span>
                                                    </li>
                                                    <li>
                                                        <span class="listH_title">수량/면적</span>
                                                        <span class="listH_data">319,503㎡</span>
                                                    </li>
                                                    <li>
                                                        <span class="listH_title">지정(등록)일</span>
                                                        <span class="listH_data">2002.03.09</span>
                                                    </li>
                                                    <li>
                                                        <span class="listH_title">소재지</span>
                                                        <span class="listH_data">서울 노원구 월계동 산8-3번지
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <span class="listH_title">소유자(소유단체)</span>
                                                        <span class="listH_data">-</span>
                                                    </li>
                                                    <li>
                                                        <span class="listH_title">관리자(관리단체)</span>
                                                        <span class="listH_data">서울시</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info_box02">
                                        <h3>
                                            <h2>
                                                서울 초안산 분묘군
                                                서울 楚安山 墳墓群
                                                사적 제440호
                                            </h2>  
                                            <div class="pBox">
                                                초안산 분묘군은 조선시대 양반분묘에서 서민 민묘까지 다양한 계층의 무덤 1,000기 이상과 상석, 문인석, 비석, 동자상 등 수백여 기의 석물들이 있는 곳이다. 15세기 이래 서민, 중인, 내관, 상궁, 사대부에 이르기까지 다양한 계층의 각종 문관석과 동자상 등이 시기별로 다양하게 분포하고 있다. 특히 내관의 분묘가 많은데 그 중에는 17세기 내관이었던 승극철 부부의 묘와 비석이 있어 내관의 생활사 연구에 자료가 된다. 조선시대 여러 계층의 분묘가 집중적으로 섞여 있는 곳은 흔치 않은 예로 특정계층의 분묘를 비롯해 사대부에서 서민에 이르기까지 오랜 기간동안 무덤을 조영하여 묘제 변천과정을 파악하는데 중요한 자료이다. 또한 남아 있는 문인석, 동자상 등 석물의 형태가 매우 다양하여 석물변천사 연구에도 매우 귀중한 자료이다.
                                                <p>※초안산조선시대분묘군 → 서울 초안산 분묘군(2011.7.28 명칭변경 고시)</p>
                                            </div> 
                                            <div class="pBox">
                                            <em><span class="cSpan"></span>조선 궁녀, 입궁 후 제조상궁이 되기까지</em>
                                             궁녀는 크게 ‘상궁’ ‘나인’, ‘아기나인’ 으로 구분된다. 보통 6~7세에 궁으로 들어가 아기나인이 되고, 18세 정도에 계례(筓禮)를 치르고 정식 궁녀인 나인이 되었다. 나인이 되고 15년이 지나야 상궁이 되었다. 같은 상궁이라 하더라도 소속 부서의 격에 따라 지위가 달랐다. 최고 수장인 제조상궁에는 단 1명이 임명되었다.
                                            </div>
                                            <div class="pBox">
                                            <em><span class="cSpan"></span>상궁의 종류</em>
                                            <em><span class="wSpan"></span> 제조상궁</em>
                                             수백 명의 궁녀 중 으뜸이 되는 상궁으로 일명 '큰방상궁'이라고 했다. 어명을 받들고 내전의 대소 살림살이를 주관했다. 궁녀 중에 오래되고 위품, 인격, 학식, 통솔력 등이 있으며 인물도 출중한 이를 뽑았다. 권세와 권위가 대단하여 남자 관리로 치면 영의정의 지위와 같았다. 큰방상궁이 궁궐을 출입할 때는 비서격인 세수간(洗手間) 나인과 비자(婢子)가 따라 다녔다. 음식 대접만 하더라도 임금 수라상과 가짓수가 같고 분량만 적었다고 한다.
                                            </div>
                                            <div class="pBox">
                                                <em> <span class="wSpan"></span>  부제조상궁</em>
                                             부제조상궁은 제조상궁의 다음 자리로 일명 '아랫고상궁'이라고도 했다. 제조상궁이 세상을 떠나면 뒤를 이었다. 보석 등 왕의 귀중품을 비롯하여 수라에 쓰이는 반상기에 올라가는 은기 자기 유기와 비단 등이 있는 아랫곳간 물품의 출납을 담당했다.
                                             </div>
                                             <div class="pBox">
                                                <em><span class="wSpan"></span> 대령상궁</em>
                                             대령상궁은 왕의 손과 발이 되어 항시 왕의 곁에서 어명을 받드는 자세로 대기하는 상궁으로 ‘지밀상궁’으로도 불렀다.
                                             </div>
                                             <div class="pBox">
                                                <em><span class="wSpan"></span> 보모상궁</em>
                                             보모상궁은 왕의 자녀 양육을 받은 궁녀들의 총책임자이다. 세자가 사는 동궁에 두 명, 그 밖의 궁에 한 명씩 있었다. 왕의 자녀들은 어릴 때 이들을 ‘아지’라고 불었다고 한다. 왕의 유모 '봉보부인'은 종1품 품계를 받아 정2품의 판서보다 높았다.
                                             </div>
                                             <div class="pBox">
                                                <em><span class="wSpan"></span> 시녀상궁</em>
                                             시녀상궁은 임금이 거처하는 곳에서 여러 가지 업무를 맡았다. 서적을 관장하고 글을 낭동했으며 크고 작은 잔치에 동원했다. 임금이 종실과 외척에 내리는 하사품과 그릇 관리 등을 맡았으며 왕비와 왕대비의 특별 심부름꾼이 되어 이들의 친정에 다녀오기도 했다.
                                            </div>
                                             <div class="pBox">
                                                <em><span class="wSpan"></span> 일반상궁</em>
                                             뚜렷한 직함이 붙지 않은 일반상궁이 처소마다 7, 8명씩 있었다. 아래 나인들을 총괄하고 처소 업무를 책임졌다. 존칭으로 '마마님'으로 불렸다.
                                            </div>
                                        </h3>
                                        <h3>조선시대 환관(宦官)의 묘역과 씨족묘 등 조선시대 전시기에 걸쳐 여러계층의 분묘가 집중적으로 분포되어 있어 조선시대 장묘문화에 귀중한 자료적 가치가 있으며, 특히 내시(內侍)의 분묘가 많고, 1694년의 연대가 명기된 내시 승극철 부부묘가 있어 내시생활 연구의 기초자료를 제공하고 있다.</h3>     
                                        </div>
                                </div>
                            </div>
                            </div>
                    </article>
                </section>
            </div>
        </section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/history.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/sidemenu2.js"></script>
