
        <section class="w1280 commonWrap">
            <div class="sideMenu">
                <div class="side_title">
                    <h3>노원 아카이브</h3>
                </div>
                <div>
                    <ul class="side_menu">
                        <li  class="side_list"><a href="#" ><!--선택메뉴에 클래스 이동-->
                            노원 역사문화
                        </a>
                            <!--메뉴 내 서브메뉴(서브메뉴 없다면 ul째로 삭제)-->
                            <ul class="side_submenu">
                                <li ><a href="vision" ><!--선택메뉴에 클래스 이동-->
                                    노원의 비전과 상징
                                </a></li>
                                <li><a href="history_nowon">
                                    노원의 역사
                                </a></li>
                            </ul>
                        </li>
                        <li  class="side_list"><a href="#">
                            노원관광지도
                        </a>
                            <ul class="side_submenu">
                                <li><a href="history_Wolgye"><!--선택메뉴에 클래스 이동-->
                                    월계동
                                </a></li>
                                <li><a href="#">
                                    공릉동
                                </a></li>
                                <li><a href="history_Sanggye" class="side_submenu_on">
                                    상계동
                                </a></li>
                                <li><a href="#">
                                    중계동
                                </a></li>
                                <li><a href="#">
                                    하계동
                                </a></li>
                            </ul>
                        </li>
                        <li  class="side_list"><a href="nongyo">
                            마들농요
                        </a></li>
                        <li  class="side_list"><a href="#">
                            사진 앨범
                        </a></li>
                        <li  class="side_list"><a href="#">
                            동영상 앨범
                        </a></li>
                    </ul>
                </div>
            </div><!--sideMenu-->
            <div class="commonWrap_box">
                <div class="sublogo">노원 관광 지도</div>
                <h1><span class="yellow"></span>상계동</h1>
                <section class="map sanggye">
                    <img src="img/archive/노원 상계-1.png">
                </section>
                <section class="his">
                    <h1><span class="yellow"></span>지명 유래</h1>
                    <p>상계동은 원터, 간촌, 당고개, 온숫골, 갈월, 샛말등의 마을이 한천(漢川)의 윗쪽에 위치하여 윗상(上)자에 시내계(溪)자를 붙여지어진 것이다. 상계동을 둘러싸고 있는 수락산과 불암산은 서울의 동쪽 경계를 이루고 있으며, 수락산과 불암산 사이의 덕릉고개 일대는 전망이 아름답다. 수락산의 지명은 옛날에 사냥꾼이 산속에서 아들을 찾아 헤매다가 낭떠러지에서 떨어져 죽었는데, 그 후로 바람이 불때마다 "수락아 수락아" 하는 소리가 들려 수락산이라 부르게 되었다는 전설이 있다</p>
                </section>
                <section class="tour">
                    <h1><span class="yellow"></span>주변 관광지</h1>
                    <article>
                        <div class="swiper historySwiper">
                            <div class="swiper historySwiper">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide swiper_his">
                                    <figure onclick="openPopup()">
                                        <div class="tourImg imgS1">
                                        </div>
                                    
                                        </span>
                                            <figcaption>
                                                <h2>용굴암</h2>
                                                <h4>  수락산 용굴암은 수락산 정상 바로 아래 남쪽 기슭의 절벽에 가까운 암벽에 위치하고 있다. 용굴암은 고종 15년 1878년 창건되었으며, 이 때는 다른 전각은 없고 다만 지금의 나한전인 자연동굴에 16나한을 모시고 스님들이 기도하던 자그마한 토굴이었다.
                                                    그 후 1882년 임오군란 때 대원군의 섭정에서 밀려난 명성황후께서 이 곳에서 잠깐 숨어 7일기도를 드리고 명성왕후가 다시 집정하자 그 공덕을 기리기 위해 조정에서 하사금을 내려 현재 대웅전 자리에 법당을 세워 사찰의 면모를 갖추게 되었다.
                                                    현존하는 건물로는 나한전, 대웅전, 요사채, 야외 미륵전, 주지실인 운신실이 있다. 나한전은 길이 9.4m, 폭 3m의 자연동굴을 이용하여 남향을 하고 있고 동굴 안은 전실과 주실로 나뉘어져 있다</h4>
                                            </figcaption>
                                    </figure>
                                  </div>
                                  <div class="swiper-slide swiper_his"> 
                                    <figure>
                                        <div class="tourImg imgS2"></div>
                                            <figcaption>
                                                <h2>학림사</h2>
                                                <h4> 수락산 학림사는 신라 문무왕 11년인 671년에 원효대사가 창건하였으며, 그후 고려말 공민왕 때 나옹화상께서 크게 중창하였으나 조선 선조 30년인 1597년 정유재란으로 소실되어 폐허로 되었다.
                                                    이후 조선 인조 2년인 1624년 무공화상이 폐허가 된 사찰을 중수하여 규모를 갖춘 후 1918년까지 5차례에 걸쳐 보수와 중수가 이루어졌지만 한국전쟁 당시 대부분의 건물이 소실되었고, 이를 현재 주지로 계시는 도원, 덕오스님이 1980년대 초에 중수하여 현재와 같은 사찰의 모습을 이루게 되었다. ‘학림’이라는 이름은 절이 위치한 주위의 산세가 학이 알을 품고 있는 모습인 ‘학고지란’의 모습과 비슷한데서 유래하였다고 한다.
                                                    대웅전에는 석가여래상과 탄생불을 모셔놓았으며, 약사전은 절의 입구에 있으며 질병을 치료하는 약사여래상을 모셔놓았다. 이 약사여래는 영험하다고 소문이 나 이곳에서 기도를 드리면 소원이 성취된다고 알려져 있다. 이외에도 석탑 1기와 부도 2기가 있다.</h4>
                                            </figcaption>
                                    </figure>
                                  </div>
                                  <div class="swiper-slide swiper_his">
                                    <figure>
                                        <div class="tourImg imgS3"></div>
                                            <figcaption>
                                                <h2>아차산일대 보루군</h2>
                                                <h4> 중랑천과 아차산, 용마산일대, 3번국도변에 남북방향으로 집중분포하고 있는 둘레 100-300m의 소규모보루들로서, 수락산보루는 아차산일대보루군 총17개보루중 하나이다. 출토유물이나 축성방법 등으로 보아 삼국시대의 유적이며, 고구려가 5세기 후반에 한강유역에 진입한 후 551년에 신라와 백제에 의해 한강유역을 상실하기까지 한강유역을 중심으로 전개된 삼국의 역사상을 밝혀줄 수 있는 중요한 유적이며 10여개 보루는 현재 남한내에 가장 집중적으로 분포하는 고구려 관련유적으로서 발굴등을 통해 고구려 군사시설의 면모가 규명되고 있으며 이를 통해 고구려관련 고고학적성과가 기대된다. </h4>                                   
                                            </figcaption>
                                    </figure>
                                  </div>
                                  <div class="swiper-slide swiper_his">
                                    <figure>
                                        <div class="tourImg imgS4"></div>
                                            <figcaption>
                                                <h2>당현천근린공원</h2>
                                                <h4>당현천근린공원은 마들근린공원, 원터근린공원과 함께 상계7동의 녹지축으로 형성되어있다. 인근에 대형병원이 자리하고 있어 환자와 보호자 뿐만 아니라 일반 시민들에게도 휴식및 정서공간을 제공하는 공원이다.공원에는 게이트볼장, 농구, 어린이들이 야구를 할 수 있는 소운동장이 있어 인근 주민들의 체력향상에도 많은 도움을 주고 있고 우거진 나무들 사이로 길게 뻗은 산책로를 걷고 있노라면 세상만사 모든 시름이 다 잊혀질 정도로 산책로와 잔디밭, 휴게시설이 잘 정비되어 있는 공원이다.</h4>                                    
                                            </figcaption>
                                    </figure>
                                  </div>
                                </div>
                                <div class="arrow icon_r"></div>
                                <div class="arrow icon_l"></div>
                              </div>
                    </article>
                </section>
            </div>
        </section>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/history.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/sidemenu2.js"></script>

