
        <section class="w1280 commonWrap">
            <div class="sideMenu">
                <div class="side_title">
                    <h3>노원 아카이브</h3>
                </div>
                <div>
                    <ul class="side_menu">
                        <li  class="side_list"><a href="#" ><!--선택메뉴에 클래스 이동-->
                            노원 역사문화
                        </a>
                            <!--메뉴 내 서브메뉴(서브메뉴 없다면 ul째로 삭제)-->
                            <ul class="side_submenu">
                                <li ><a href="vision" ><!--선택메뉴에 클래스 이동-->
                                    노원의 비전과 상징
                                </a></li>
                                <li><a href="history_nowon">
                                    노원의 역사
                                </a></li>
                            </ul>
                        </li>
                        <li  class="side_list"><a href="#">
                            노원관광지도
                        </a>
                            <ul class="side_submenu">
                                <li><a href="history_Wolgye" class="side_submenu_on"><!--선택메뉴에 클래스 이동-->
                                    월계동
                                </a></li>
                                <li><a href="#">
                                    공릉동
                                </a></li>
                                <li><a href="history_Sanggye" >
                                    상계동
                                </a></li>
                                <li><a href="#">
                                    중계동
                                </a></li>
                                <li><a href="#">
                                    하계동
                                </a></li>
                            </ul>
                        </li>
                        <li  class="side_list"><a href="nongyo">
                            마들농요
                        </a></li>
                        <li  class="side_list"><a href="#">
                            사진 앨범
                        </a></li>
                        <li  class="side_list"><a href="#">
                            동영상 앨범
                        </a></li>
                    </ul>
                </div>
            </div><!--sideMenu-->
            <div class="commonWrap_box">
                <div class="sublogo">노원 관광 지도</div>
                <h1><span class="yellow"></span>월계동</h1>
                <section class="map wolgye">
                    <img src="img/archive/노원 월계.png">
                </section>
                <section class="his">
                    <h1><span class="yellow"></span>지명 유래</h1>
                    <p>월계라는 동명은 밤에 높은 곳에서 월계동 지역을 내려다보니 맑은 시냇물에 달이 비치고 중랑천과 우이천으로 둘러싸인 모양이 마치 반달모양이므로 달 월(月)에 시내 계(溪)자를 붙여 월계동이라 하였다.</p>
                </section>
                <section class="tour">
                    <h1><span class="yellow"></span>주변 관광지</h1>
                    <article>
                        <div class="swiper historySwiper">
                            <div class="swiper historySwiper">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide swiper_his">
                                    <figure onclick="openPopup()">
                                        <div class="tourImg imgW1">
                                        </div>
                                    
                                        </span>
                                            <figcaption>
                                                <h2>서울 초안산 분묘군</h2>
                                                <h4>조선시대 환관(宦官)의 묘역과 씨족묘 등 조선시대 전시기에 걸쳐 여러계층의 분묘가 집중적으로 분포되어 있어 조선시대 장묘문화에 귀중한 자료적 가치가 있으며, 특히 내시(內侍)의 분묘가 많고, 1694년의 연대가 명기된 내시 승극철 부부묘가 있어 내시생활 연구의 기초자료를 제공하고 있다.</h4>
                                            </figcaption>
                                    </figure>
                                  </div>
                                  <div class="swiper-slide swiper_his">
                                    <figure>
                                        <div class="tourImg imgW2"></div>
                                            <figcaption>
                                                <h2>초안산 근린공원 축구장</h2>
                                                <h4>초안산은 1971년도에 근린공원으로 지정되어 시민들의 활용도가 높으며 조선시대 묘제를 확인 할 수 있는 중요 국가지정문화재(사적제 440호)가 있으며 종합적인 정비계획에 따라 역사문화유산을 보존·관리하고 근린공원 시설과 연계한 시민의 휴식공간 조성을 추진하고 있음. 초안산 인조잔디 축구장은 6,630㎡(102m×65m) 규모의 국제규격으로 500석의 관람석 길이 350m의 조깅트랙을 갖추고 있다. 이와 함께 배드민턴장, 농구장, 테니스장 등의 운동시설을 두루 갖춘 체육복합 공간이다.</h4>
                                            </figcaption>
                                    </figure>
                                  </div>
                                  <div class="swiper-slide swiper_his">
                                    <figure>
                                        <div class="tourImg imgW3"></div>
                                            <figcaption>
                                                <h2>각심재(恪心齋)</h2>
                                                <h4>월계동 766번지에 있는 건평 51평의 건물로 종로구 경운동 66-7에 있던 것을 1994년 3월 18일 현재의 장소로 이전한 것이다.
                                                화신백화점을 설계한 박길룡의 작품으로 한식가옥에 현관을 만들고 화장실과 목욕탕을 건물내부에 설치하여 복도로 연결시킨 건축양식 등은 1930년대 후반 개량 한옥의 모습을 잘 나타내 있으며, 한국 주택사의 변천을 알 수 있다. </h4>                                   
                                            </figcaption>
                                    </figure>
                                  </div>
                                  <div class="swiper-slide swiper_his">
                                    <figure>
                                        <div class="tourImg imgW4"></div>
                                            <figcaption>
                                                <h2>이명신도비(李蓂神道碑)</h2>
                                                <h4>이 신도비는 조선 명종때 좌의정을 지낸 청백리 이명을 기념하기 위해 세운 것으로 선조 7년(1574년)에 건립되었다. 이명(1496～1572)선생의 자는 요서로서 연간현감 이보간의 아들로 태어났다. 조선중기의 문신으로 중종20년 사마시에 합격, 1528년 식년문과에 병과로 급제, 1544년 직제학으로 승진하여 동부승지·우부승지가 되었으며 1553년 이조참판이 되어 특진관으로 입시, 을사사화 때 화를 입은 사람의 신원을 주장하여 왕의 승낙을 얻고 그날로 형조판서에 올랐다. 이어서 호조, 공조의 판서를 역임하고 1564년 우의정이 되었다. 성품이 단정하며 직무에 충실하였을 뿐만 아니라, 올바른 주장은 절대 굽히지 않았다 한다. 일생을 청백리로 일관하다 생을 마쳤으며, 죽은 후 정간이라는 시호가 붙여졌다.
                                                비는 네모난 받침돌 위로 비몸을 세운 모습이며, 비몸의 윗쪽 양변을 둥글게 다듬었다. 받침돌은 윗면에 연꽃무늬를 둘렀으며, 옆의 4면에는 안상(眼象)을 얕게 새겨 두었다.
                                                선조 7년(1574)에 세운 비로, 대제학과 우의정을 지낸 김귀영이 비문을 짓고, 병조판서 신충겸이 글씨를 썼다.
                                                이밖에도 묘역에는 공의 부, 조모 삼대의 분묘와 실전된 선조들의 설단이 있다.</h4>                                    
                                            </figcaption>
                                    </figure>
                                  </div>
                                </div>
                                <div class="arrow icon_r"></div>
                                <div class="arrow icon_l"></div>
                              </div>
                    </article>
                </section>
            </div>
        </section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="js/history.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/sidemenu2.js"></script>
