
    <section class="w1280 commonWrap">
    <div class="sideMenu">
      <div class="side_title">
          <h3>문화원 소개</h3>
      </div>
      <div>
          <ul class="side_menu">
              <li><a href="#" class="side_menu_on"><!--선택메뉴에 클래스 이동-->
                  노원 역사문화
              </a>
                  <!--메뉴 내 서브메뉴(서브메뉴 없다면 ul째로 삭제)-->
                  <ul class="side_submenu">
                      <li><a href="vision"><!--선택메뉴에 클래스 이동-->
                          노원의 비전과상징
                      </a></li>
                      <li><a href="history_nowon" class="side_submenu_on">
                          노원의 역사
                      </a></li>
                  </ul>
              </li>
              <li><a href="/history_Wolgye">
                  노원관광지도
              </a></li>
              <li><a href="nongyo">
                  마들농요
              </a></li>
              <li><a href="#">
                  사진 앨범
              </a></li>
              <li><a href="#">
                  동영상 앨범
              </a></li>
          </ul>
      </div>
  </div><!--sideMenu-->
  <div class="commonWrap_box">
    <div class="sublogo">노원의 역사</div>
    <div class="w3-container">
        <div class="container_img">
            <img src="img/archive/123456789.jpg">
            <h2>근대시대 ~ 대한민국 시대 노원의 역사</h2>
        </div>
       
        
        <div class="w3-row">
          <a href="javascript:void(0)" onclick="openCity(event, 'his1');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">근대시대</div>
          </a>
          <a href="javascript:void(0)" onclick="openCity(event, 'his2');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">일제강점기시대</div>
          </a>
          <a href="javascript:void(0)" onclick="openCity(event, 'his3');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding">대한민국 시대</div>
          </a>
        </div>
      
        <div id="his1" class="w3-container his" style="display:none">
          <h2>근대시대</h2>
          <!-- <h2>광복과 함께 정부는 수립되었으나 사회적 정치적으로 혼란한 시기를 거쳐
            한국전쟁으로 인한 난민의 증가와 산업의 발전으로 인하여 서울은 급격하게 팽창하였다.</h2> -->
        <p>청동기인은 이미 우리나라에서 살고 있던 신석기 문화인들과 동화 융합하면서 청동단추, 도끼, 조각칼, 세형동검, 방울달린 청동기, 주물틀 등을 만들어 사용하였던 것이 출토물로 보아 확인된다.
            <br><br>
          고인돌은 택지개발이 시작되기 전인 1970년대에 드물게 발견되기는 하였으나 대체로 개석(蓋石)과 고인돌이 해체된 채 서로 거리가 떨어진 곳에서 발견되어 그 존재여부에 대한 확신은 없어도 양주군 일대에서 발견된 지석묘의 형태로 보아 미개발지에 대한 지표조사의 필요성이 있다.
          <br><br>
          노원지역은 노원구 공릉동∼상계동에 이르는 서울의 동북쪽 일대로 삼각산을 뒤로 하고 한강을 중심으로 원야지대를 앞에 두고 있어 고대 도읍지로 정할 만한 지리적 조건을 갖추었다고 볼 수 있다. 따라서 백제 초기 도읍지로서의 하북 위례성을 이곳으로 보는 견해도 있다. 위례성이라는 백제 시조가 처음 도읍하였던 곳으로 옛 자리가 지금 한양성 동북쪽에 있다.
          <br><br>
          북위례의 옛 자리는 경성의 동북쪽 10리 되는 곳 삼각산 동쪽에 있는데 주민들이 그 곳을 잘못 한양고현이라 하여 하북의 위례성에 대해 삼각산 동쪽설을 주장하고 있다. 이는 방어와 생산활동을 위한 필수적인 배산임수(야)(背山臨水(野))의 지형을 말해주는 것이라 하겠다.
          <br><br>
          그 후 이 지역은 백제의 한성시대에는 계속 백제의 영토에 속하였다. 그러나 고구려 장수왕이 도읍을 평양으로 옮기고 남정(南征)을 감행하여 위례성을 함락시키고 아차산성에서 사로잡은 백제의 개로왕을 피살하였다. 따라서 한강유역 일대는 고구려의 통치하에 들어갔다. 이 때 고구려는 군현제에 따라 현재의 도봉구, 양주군 일대의 새로운 점령지에 매성군(일명 昌化)을 설치하였다. 그 후 551년 백제·신라의 연합군에 의해 고구려가 한강유역으로부터 후퇴를 하게 되니 이 지역은 다시 백제에 귀속되었다.
          <br><br>
          그러나 다음 해에 신라 진흥왕이 한강유역을 점령함으로써 백제·신라의 공수동맹이 파기 되었고 군단을 주둔시켜 관할하니 이 지역은 신라의 통치하에 들어갔다. 이어 757년(경덕왕 16년)에 현 도봉구지역을 포함한 양주군 일대에 래소군을 설치하였다.
          <br><br>
          신동국여지승람에 의하면 양주목 동쪽 15리 지점에 석문령(石門嶺)이 확인되었다고 하는 등 양주지역에 크고 작은 성이 많이 있던 것으로 보아 산으로 둘러싸인 노원지역에 성을 많이 쌓았었던 것으로 보이고, 1942년에 조선 총독부에서 발간한 조선보물고적조사자료에 따르면 양주군에 약 15개의 성곽이 있었다는 기록이 있다. 삼국시대 노원지역은 한강유역을 차지하기 위한 교두보로서 고구려 입장에서는 남하를 위해, 신라와 백제의 입장에서는 북진을 위한 중요한 발판이 되었다.
          <br><br>
          고려시대에도 이 지역은 대일·대송 무역경로로 중요한 위치에 있었다. 고려 태조는 이 래소군을 견주라 개칭하고 신라 때의 한양군을 양주라 고쳐 이 양주에 지주사를 두어 견주(見州)를 관할케 하였다. 나아가 현종9년(1081)에는 견주를 양주에 편입하였다. 몽고와 여섯 번 전쟁을 치를 때에도 격전지로 바뀌어 많은 고초를 겪었고, 충렬왕 때는 개경과 가깝다는 관계로 왕의 사냥터로 사용되기도 하였다.
          <br><br>
          이성계의 위화도 회군으로 신진사대부들이 조선을 개국하면서 보수 귀족세력의 정치적 기반이었으며, 각종 폐단이 심했던 불교를 배척하고, 유교를 숭상하면서 지방행정제도를 개혁하기 시작하였다. 태조3년(1394) 10월 28일 개경으로부터 한양으로 천도하게 되니 한양부는 한성부로 개칭되었다. 이 한성부는 고려시대의 양주로서 양주고을 범위 안에서 도읍을 정하고 그 지역만을 한성부라 하였고 현 도봉구지역을 포함한 기타 양주의 관할구역이었던 지역은 그대로 양주에 속하였다.
          <br><br>
          한성부의 설치에 따라 양주 부치(府治)는 양진(광진) 서쪽 아차산 남쪽인 대동리로 이전하였으며 지양주지사로 승격되고 1395년에 다시 부(府)로 승격되었다. 태조 6년 부치(府治)를 다시 견주고기(見州古基)인 주내면 고읍리로 이전하였다. 태종 10년에 다시 양주를 목(牧)으로 강등하였다가 같은 해 13년 1,000호 이상의 규정에 따라 도호부(都護府)가 되었다. 세종 12년에 다시 양주목이 되는 동시에 진(鎭)을 두었다.
          <br><br>
          또 영조때 각 도읍지를 모아 편찬한 「여지도서(與地圖書)」를 보면 경기도 양주목(牧)내의 34개면(面)의 방리(里)가 있다. 이중 노원면과 해등촌면이 곧 노원구의 일부지역에 해당된다. 그리고 양주군은 고종 32년(1895) 윤(閏) 5월 1일 칙령 제98호에 의해 실시된 23도제에 의해 한성부 소속의 군이 되었다가 1896년 8월 4일칙령 제360호에 의해 실시된 13도제에 의해 경기도 3등군이 되었다.
          <br><br>
          고구려 때의 매성현, 골의노현이 양주군의 속현이 되었다고는 하나 이들 지역이 양주 동남쪽인 것만 확인될 뿐 정확한 위치가 명시되지 않아 노원지역이라고 추측할 뿐이다. 사서에 정확하게 나타난 것은 신동국여지승람인데 이에 의하면 노원지역을 해등은 남쪽으로 처음이 30리, 마지막이 50리이고, 노원은 남쪽으로 40리, 마지막이 50리라고 되어 있어 노원보다 조금 북쪽이 해등인대 이 둘을 합쳐 지금의 노원이 된 것을 알 수 있다.</p>
        </div>
      
        <div id="his2" class="w3-container his" style="display:none">
          <h2>일제강점기시대</h2>
          <!-- <h2>양주군에는 2개의 둔토가 있었는데 해등산촌과 강릉위였다. 역토 가운데 상등지가 위토였는데 강릉위의 경우
            답 12두락과 전 2식반경을 쌍수역토중에서 일부를 대토해 주어서 이 지역 역둔토 소작인과 분쟁도 야기되었다.</h2> -->
        <p>1905년 재정고문 메가다가 부임하면서 황실소유의 토지와 국유재산 정리를 위한 허락을 황실로부터 받아, 이듬해 7월 국유재산관리규정을 제정하여 국유부동산의 목록을 작성하여, 1909년부터 이듬해 7월까지는 역둔토조사를 실시하였다.
            <br><br>
          한편 1911년 4월 1일 경기도령 제31호로 양주군에는 34면 343동리를 두었는데 지금의 노원면 온수동·납대동·가좌동· 공덕리·장기리·월계리·간촌리· 은행리·양재리· 용동리·묘동리· 불암리·금주리·광석리·오목리· 무수동·갈해동·녹천리와 해등촌면 상누원리·무수동으로 이루어졌다.
          <br><br>
          1912년 5월 23일에 공포된 「지방행정구역명칭일람」경기도편에 의하면 양주군을 32개면, 343동리로 노원면과 해등촌면도 이 중에 속하였다. 914년 4월 1일에는 노원면과 해등촌면을 합쳐 경기도 양주군 노해면으로 하고 청동리, 도봉리, 쌍문리, 월계리, 공덕리, 하계리, 중계리, 상계리를 관할하였다.
          <br><br>
          1950년 북한의 기습남침으로 노원지역에 위치한 육군사관학교 생도들의 활약이 눈부시게 빛났다. 졸업을 앞둔 육사생도 1기생과 입교 20일밖에 되지 않은 2기생들이 양주군과 포천의 경계인 부평리에 진지를 구축하고 5시간 동안 적과 대치하여 분전하였으나, 무기열세 및 탄환의 소진으로 의정부가 함락될 무렵 전사한 동료의 시체를 가매장하고 후퇴하였다. 서울이 적에게 함락되면서 생도들은 대부분이 뚝섬쪽으로 후퇴하고 일부는 불암산에 남아 항전하였다. 적의 수중에 들어간 육군사관학교는 적의 의용군훈련소로 바뀌었다.
          <br><br>
          불암사에 본부를 둔 유격대는 1950년 7월 11일 공산군 100명이 배치된 퇴계원 보급소를 습격하여 적을 섬멸하였으며 8월 15일에는 피난하지 못한 서울 청년들이 강제로 훈련 받고 있던 의용군훈련소(육군사관학교)를 습격하여 의용군훈련생들을 탈출시키기도 하였다. 이러한 과정에서 대부분의 유격대가 전사하고, 소수의 남은 대원들이 인천 상륙작전으로 서울이 탈환되자 학교로 복귀하여 임관되었다.</p>
        </div>
      
        <div id="his3" class="w3-container his" style="display:none">
          <h2>대한민국 시대</h2>
          <!-- <h2>광복과 함께 정부는 수립되었으나 사회적 정치적으로 혼란한 시기를 거쳐
            한국전쟁으로 인한 난민의 증가와 산업의 발전으로 인하여 서울은 급격하게 팽창하였다.</h2> -->
        <p>1963년 1월 1일 법률 제1172호로 서울특별시도군구의 관할구역에 관한 법률로 양주군 해등촌면 상누원리·영국리·무수동·도당리 일부가 서울 도봉리로, 양주군 해등촌면 암회리·도당리·원당리 일부는 방학리, 해등촌면 소망리·우이리·계성리·원당리 일부를 합쳐 쌍문리로, 해등촌면 유만리·마산리·도당리·창동리와 호원면 녹천리 각 일부를 합쳐 창동리, 양주군 노원면 월계리·양주군 노원면 용동리·상곡리·가좌동·공덕리와 망우면 묵동리 양재동 각 일부를 합쳐 하계리, 양주군 노원면 광석리·은행리·납대동·전주리 ·오목리·양재동 각각 일부를 합쳐 중계리, 노원면 간촌리·온수동·녹천리와 별비면 덕동리 각 일부 및 둔야면 조암동을 합쳐 상계리로 하여 서울 성북구로 편입하고 노해출장소를 새로 설치 이를 관할토록 하였다.<br><br>

          이때 편입된 지금의 노원지역은 7개 동, 리에 20개 자연부락이며 편입면적은 24.91㎢였다. 1973년 7월 1일 대통령령 제6548호로 성북구에서 도봉구가 신설되면서 노원지역은 도봉구로 편입되었으며, 같은 날짜로 서울특별시조례 제780호에 의해 노해출장소는 폐지되었다. 1975년 10월 1일에는 서울특별시조례 제981호로 상계제3동에서 상계제3동과 제4동이, 창동에서 창동과 월계동이 분동되었다.<br><br>
          
          1980년 7월 1일에는 서울특별시조례 제1413호로 공릉동에서 공릉제1동· 공릉제2동·하계동이, 월계동에서 월계제1동·월계제2동이 각각 분동되었으며, 1985년 9월 1일에는 서울특별시조례 제2015호로 상계제5동이 신설되었다.<br><br>
          
          그 후 1988년 1월 1일 대통령령 제12376호(1987.12.31 공포)로 동대문구에서 중랑구를, 강동구에서 송파구를, 강남구에서 서초구를, 강서구에서 양천구를, 도봉구에서 노원구를 증설하여 서울의 17개 구는 22개구가 되었다.<br><br>
          
          이때 노원구는 시 조례 제59호(1988.1.1 공포)에 의하여 도봉 1, 2동, 창 1, 2, 3동에 월계 1, 2동, 공릉 1, 2동, 하계동, 중계동, 상계 1, 2, 3, 4, 5동으로 동 명칭이 확정되었다 1988년 7월 1일 노원구조례 제59호(1988.6.28 공포)에 의해 월계1동이 월계1, 3동으로 상계2동이 상계2, 6, 7동으로 분동되어 행정동은 19개 동이 되었다.<br><br>
          
          1989년 1월 1일 서울특별시조례 제79호(1988.12.30 공포)에 의해 도봉 1, 2동, 창 1, 2, 3동을 도봉구로 편입, 노원구의 행정동은 19개 동에서 14개 동이 되었다.<br><br>
          
          1989년 6월 1일 노원구조례 제86호(1989.5.29 공포)에 의해 상계8동이 증설되어 노원구의 행정동은 14개동에서 15개동이 되었다. 1989년 9월 1일 상계 9, 10동, 중계2동, 하계2동이 증설되어 19개동이 되었고, 1991년 9월 1일 노원구조례 제161호(1991.7.18 공포)에 의해 중계3동이 증설되어 노원구의 행정동은 19개동에서 20개 동이 되었다.<br><br>
          
          1992년 7월 1일 노원구조례 제188호(1992.6.10 공포)에 의해 중계1동이 중계본동, 중계1동, 중계4동으로 분동되어 2개동이 증설되어 노원구의 행정동을 20개동에서 22개동이 되었으며, 1994년 11월 1일 노원구조례 제263호(1994.10.31 공포)에 의해 월계2동이 월계2동, 월계4동으로 분동되어 1개동이 증설되어 노원구의 행정동은 22개동에서 23개동이<br><br>
          
          또, 1996년 10월 1일 노원구조례 제340호(1996.9.17 공포)에 의해 공릉1동이 공릉1동, 공릉3동으로 분동되어 1개동이 증설되어 노원구의 행정동은 23개동에서 24개동이 되었다. 2008년 1월 1일 노원구조례 제778호(2007.10.25 공포)에 의해 공릉1동과 공릉3동이 공릉1·3동, 상계3동과 상계4동이 상계3·4동, 상계6동과 상계7동이 상계6·7동으로 통합되어 노원구의 행정동은 24개동에서 21개동이 되었다.<br><br>
          
          2009년 1월 1일 노원구조례 제818호(2008.12.2 공포)에 의해 중계2동과 중계3동이 중계2·3동, 월계1동, 월계2동, 월계3동, 월계4동이 경계조정을 통해 월계1동, 월계2동, 월계3동으로 통합되어 노원구의 행정동은 21개동에서 19개동이 되었다.
          <br><br>
          2011년 6월 23일 노원구조례 제943호(2011.6.23 공포)에 의해 공릉1·3동이 공릉1동으로 행정동 명칭이 변경되었다.</p>
        </div>
      </div>
    </div>
    </section>
      <script src="/js/his.js"></script>
