<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> 노원문화원</title>
    <!-- 메인 -->
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/basic.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/section1.css">
    <link rel="stylesheet" type="text/css" href="/css/section2.css">
    <link rel="stylesheet" type="text/css" href="/css/section3.css">
    <link rel="stylesheet" type="text/css" href="/css/section4.css">
    <!-- 로그인 -->
    <link rel="stylesheet" type="text/css" href="/css/login/nowon_login.css">
    <link rel="stylesheet" type="text/css" href="/css/login/nowon_signup.css">
    <link rel="stylesheet" type="text/css" href="/css/login/nowon_login_id.css">
    <link rel="stylesheet" type="text/css" href="/css/login/nowon_login_psw.css">
    <!-- 문화원소개 css -->
    <link rel="stylesheet" type="text/css" href="/css/intro/nowon_sidemenu.css">
    <link rel="stylesheet" type="text/css" href="/css/intro/nowon_introText.css">
    <link rel="stylesheet" type="text/css" href="/css/intro/nowon_introIntro.css">
    <link rel="stylesheet" type="text/css" href="/css/intro/nowon_introBOD.css">
    <link rel="stylesheet" type="text/css" href="/css/intro/nowon_introFacility.css">
    <link rel="stylesheet" type="text/css" href="/css/intro/nowon_introHistory.css">
    <link rel="stylesheet" type="text/css" href="/css/intro/nowon_introMap.css">
    <link rel="stylesheet" type="text/css" href="/css/intro/nowon_introOrganiz.css">
    <link rel="stylesheet" type="text/css" href="/css/intro/nowon_introConduct.css">
    <!-- 행사/대관 -->
    <link rel="stylesheet" type="text/css" href="/css/event_culture/event_culture.css">
    <!-- 문화강좌 css -->
    <link rel="stylesheet" type="text/css" href="/css/class/class_guide.css">
    <link rel="stylesheet" type="text/css" href="/css/class/class.css">
    <link rel="stylesheet" type="text/css" href="/css/class/class_info.css">
    <!-- 참여마당 -->
    <link rel="stylesheet" type="text/css" href="/css/community/notice.css">
    <link rel="stylesheet" type="text/css" href="/css/community/table.css">
    <link rel="stylesheet" type="text/css" href="/css/community/noti.css">
    <link rel="stylesheet" type="text/css" href="/css/community/event.css">
    <link rel="stylesheet" type="text/css" href="/css/community/event_detail.css">
    <link rel="stylesheet" type="text/css" href="/css/community/pressrelease.css">
    <!-- 아카이브 -->
    <link rel="stylesheet" type="text/css" href="/css/archive/vision.css">
    <link rel="stylesheet" type="text/css" href="/css/archive/history.css">
    <link rel="stylesheet" type="text/css" href="/css/archive/history_info.css">
    <link rel="stylesheet" type="text/css" href="/css/archive/history_nowon.css">
    <link rel="stylesheet" type="text/css" href="/css/archive/nongyo.css">
    <!--웹폰트링크-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
</head>
<body>
    <header>
        <div class="header_top">
            <div class="header_inner">
                <ul class="sns">
                    <li><a class="youtube" href=""></a></li>
                    <li><a class="facebook" href=""></a></li>
                    <li><a class="blog" href=""></a></li>
                    <li><a class="insta" href=""></a></li>
                    <li><a class="kakaoch" href=""></a></li>
                </ul>
                <ul class="info">
                    <li><a href="nowon_login">로그인 |&nbsp;</a></li>
                    <li><a href="nowon_signup">회원가입</a></li>
                    <!-- <li><a href="">참여마당</a></li> -->
                </ul>
            </div>
        </div>
        <div class="header_bot">
            <div class="header_inner">
                <h1 class="logo">
                    <a href="/"></a>
                </h1>
                <ul class="gnb">
                    <li>
                        <a href="nowon_introText">문화원 소개</a>
                    </li>
                    <li>
                        <a href="event_culture">문화행사/대관</a>
                    </li>
                    <li>
                        <a href="class">문화강좌</a>
                    </li>
                    <li>
                        <a href="">문화아카데미</a>
                    </li>
                    <li>
                        <a href="notice">참여마당</a>
                    </li>
                    <li>
                        <a href="vision">노원 아카이브</a>
                    </li>
                    <li>
                        <a href="">기부/후원</a>
                    </li>
                </ul>
                <div class="sitemap">
                    <a href=""></a>
                </div>
            </div>
        </div>
    </header> 

    <main>
        <%- body %>
    </main>
    <footer>
        <%- include ("./footer.ejs") %>
    </footer>
    <%- script %>
    
</body>
</html>

