
        <!--section1------------------------->
        <section class="sec1">
            <div class="sec1_inner">
                <div class="sec1_top">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/main/sec1/20220415111038.jpg">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/main/sec1/20220429092328.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/main/sec1/20220530112702.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/main/sec1/20220531193453.png">
                        </div>
                        </div>
                        <div class="arrows right_arrow2"></div>
                        <div class="arrows left_arrow2"></div>
                    </div>
                    <div class="sec1_notice">
                        <div class="s1_tab">
                            <div>
                                <a class="tab_active" href="">공지사항</a>
                                <a href="">채용공고</a>
                            </div>
                            <div><a class="s1_plus" href=""></a></div>
                        </div>
                        <div class="s1_notice_list">
                            <ul>
                                <li><a href="">
                                    <p>
                                        &lt;제1회 노원 어린이·청소년 연극제&gt; 연극교실 참여자 추가 모집
                                    </p>
                                    <span>2022.05.11</span>
                                </a></li>
                                <li><a href="">
                                    <p>
                                        2022년 노원문화원 직원 채용 재공고
                                    </p>
                                    <span>2022.05.10</span>
                                </a></li>
                                <li><a href="">
                                    <p>
                                        2022 문화가 있는 날 스토리 in 노원 &lt;우리동네 퀴즈대회&gt; 참가자 모집
                                    </p>
                                    <span>2022.05.04</span>
                                </a></li>
                                <li><a href="">
                                    <p>
                                        2022년 노원문화의집 강사 공개모집
                                    </p>
                                    <span>2022.05.02</span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="sec1_bot">
                    <ul>
                        <li><a href="">
                            <div class="sec1_icon1"></div>
                            <p>공연</p>
                        </a></li>
                        <li><a href="">
                            <div class="sec1_icon2"></div>
                            <p>대관</p>
                        </a></li>
                        <li><a href="">
                            <div class="sec1_icon3"></div>
                            <p>문화행사</p>
                        </a></li>
                        <li><a href="">
                            <div class="sec1_icon4"></div>
                            <p>문화강좌</p>
                        </a></li>
                        <li><a href="">
                            <div class="sec1_icon5"></div>
                            <p>노원관광지도</p>
                        </a></li>
                        <li><a href="">
                            <div class="sec1_icon6"></div>
                            <p>기부/후원</p>
                        </a></li>
                        <li><a href="">
                            <div class="sec1_icon7"></div>
                            <p>알림마당</p>
                        </a></li>
                        <li><a href="">
                            <div class="sec1_icon8"></div>
                            <p>보도자료</p>
                        </a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--section1------------------------->
        <div class="blank"></div> <!--common.css-->
        <!--section2------------------------->
        <section  class="w1280">
            <article class="sec2">
                <div class="sec2_head">
                    <h2>행사 안내</h2>
                </div>
                <div class="sec2_cont">
                    <ul class="event_tab">
                        <li class="active tab" rel="tab01" >전체</li>
                        <li  class="tab" rel="tab02">문화행사</li>
                        <li class="tab" rel="tab03">공연</li>
                        <li class="tab" rel="tab04">교육</li>
                        <li class="tab" rel="tab05">홍보</li>
                    </ul>
<!---------------------------------------- tab1 전체--------------------------------------->
                    <div class="event_cont tab01 current" id="tab01">
                            <div class="swiper-wrapper">
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event1.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>Art in 노원</h3>
                                            <p>접수기간</p>
                                            <p>04.18 (월) ~ 05.27 (금)</p>
                                            <p>평일</p>
                                            <p>9:00 ~ 18:00</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">[ Art in 노원 ] 노원 굿즈 공모전</a>
                                    <p>04.18 (월) ~ 05.27(금)</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event2.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>Story in 노원</h3>
                                            <p>일시</p>
                                            <p>06.04(토) 오후1시 </p>
                                            <p>장소</p>
                                            <p>중계근린공원</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">[ Story in 노원 ]  우리동네 퀴즈대회</a>
                                    <p>06.04(토) 오후 1시 </p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event3.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>웰컴 투 시니어</h3>
                                            <p>일시</p>
                                            <p>5월 ~ 11월 매주 화요일 </p>
                                            <p>장소</p>
                                            <p>노원문화원</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">어른신 문화활동<웰컴 투 시니어></a>
                                    <p>5월 ~ 11월 매주 화요일</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event4.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>어린이를 해방하라</h3>
                                            <p>일시</p>
                                            <p>05.14(토) 11시 ~ 15시 </p>
                                            <p>장소</p>
                                            <p>공릉동 근린공원</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">어린이날 100주년 기념 어린이 잔치</a>
                                    <p>5월 14일 오전 11시 ~ 오후 3시</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event5.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>로컬테라피 in노원</h3>
                                            <p>일시</p>
                                            <p>22.06 ~ 22.10 </p>
                                            <p>장소</p>
                                            <p>노원문화원</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">로컬테라피 in노원</a>
                                    <p>22.06 ~ 22.10</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event6.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>단오 한마당</h3>
                                            <p>일시</p>
                                            <p>06월 04일 (토) 13시 ~ 17시</p>
                                            <p>장소</p>
                                            <p>중계 근린공원</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">2022 단오맞이 단오 한마당</a>
                                    <p>06월 04일 (토) 13시 ~ 17시</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event7.png" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>노원 생활문화이야기</h3>
                                            <p>일시</p>
                                            <p>6월4일 , 6월11일 14시</p>
                                            <p>장소</p>
                                            <p>노원문화예술회관 소공연장</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">노원 생활문화이야기</a>
                                    <p>6월4일 , 6월11일 14시</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event8.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>역사문화 힐링 토요탐방</h3>
                                            <p>일시</p>
                                            <p>2022년 04월 ~ 10월 매주(토)</p>
                                            <p>운영시간</p>
                                            <p>오전 10시 ~ 12시</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">역사문화 힐링 토요탐방</a>
                                    <p>2022년 04월 ~ 10월 매주(토)</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event9.png" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>안녕 , 104마을 </h3>
                                            <p>일시</p>
                                            <p>05월21일 11시, 28일 14~17시 (토) </p>
                                            <p>장소</p>
                                            <p>노원문화예술회관 2층</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">안녕 , 104마을</a>
                                    <p>05월21일 11시, 28일 14~17시 (토)</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!--------------------------------------- tab2 문화행사 -------------------------------------->
                    <div class="event_cont tab02" id="tab01">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event3.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>웰컴 투 시니어</h3>
                                            <p>일시</p>
                                            <p>5월 ~ 11월 매주 화요일 </p>
                                            <p>장소</p>
                                            <p>노원문화원</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">어른신 문화활동<웰컴 투 시니어></a>
                                    <p>5월 ~ 11월 매주 화요일</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event4.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>어린이를 해방하라</h3>
                                            <p>일시</p>
                                            <p>05.14(토) 11시 ~ 15시 </p>
                                            <p>장소</p>
                                            <p>공릉동 근린공원</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">어린이날 100주년 기념 어린이 잔치</a>
                                    <p>5월 14일 오전 11시 ~ 오후 3시</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event6.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>단오 한마당</h3>
                                            <p>일시</p>
                                            <p>06월 04일 (토) 13시 ~ 17시</p>
                                            <p>장소</p>
                                            <p>중계 근린공원</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">2022 단오맞이 단오 한마당</a>
                                    <p>06월 04일 (토) 13시 ~ 17시</p>
                                </div>
                            </div>
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event7.png" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>노원 생활문화이야기</h3>
                                            <p>일시</p>
                                            <p>6월4일 , 6월11일 14시</p>
                                            <p>장소</p>
                                            <p>노원문화예술회관 소공연장</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">노원 생활문화이야기</a>
                                    <p>6월4일 , 6월11일 14시</p>
                                </div>
                            </div> 
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event8.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>역사문화 힐링 토요탐방</h3>
                                            <p>일시</p>
                                            <p>2022년 04월 ~ 10월 매주(토)</p>
                                            <p>운영시간</p>
                                            <p>오전 10시 ~ 12시</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">역사문화 힐링 토요탐방</a>
                                    <p>2022년 04월 ~ 10월 매주(토)</p>
                                </div>
                            </div> 
                         </div>
                    </div>
<!--------------------------------------- tab3 공연 -------------------------------------->
                    <div class="event_cont tab03 current" id="tab03">
                        <p class="emptyTxt">진행중인 공연이 없습니다.</p>
                    </div>
<!--------------------------------------- tab4 교육 -------------------------------------->
                    <div class="event_cont tab04 current" id="tab04">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide event_item">
                                <div class="event_img">
                                    <img src="img/main/event3.jpg" alt="">
                                    <div class="cover">
                                        <a href="">
                                            <h3>웰컴 투 시니어</h3>
                                            <p>일시</p>
                                            <p>5월 ~ 11월 매주 화요일 </p>
                                            <p>장소</p>
                                            <p>노원문화원</p>
                                            <div class="detail">
                                                <p>상세보기</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="event_txt">
                                    <a href="">어른신 문화활동<웰컴 투 시니어></a>
                                    <p>5월 ~ 11월 매주 화요일</p>
                                </div>
                            </div>
                        </div>
                    </div>
<!--------------------------------------- tab5 홍보 -------------------------------------->
                    <div class="event_cont tab05 current" id="tab05">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide event_item">
                            <div class="event_img">
                                <img src="img/main/event1.jpg" alt="">
                                <div class="cover">
                                    <a href="">
                                        <h3>Art in 노원</h3>
                                        <p>접수기간</p>
                                        <p>04.18 (월) ~ 05.27 (금)</p>
                                        <p>평일</p>
                                        <p>9:00 ~ 18:00</p>
                                        <div class="detail">
                                            <p>상세보기</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="event_txt">
                                <a href="">[ Art in 노원 ] 노원 굿즈 공모전</a>
                                <p>04.18 (월) ~ 05.27(금)</p>
                            </div>
                        </div>
                        <div class="swiper-slide event_item">
                            <div class="event_img">
                                <img src="img/main/event2.jpg" alt="">
                                <div class="cover">
                                    <a href="">
                                        <h3>Story in 노원</h3>
                                        <p>일시</p>
                                        <p>06.04(토) 오후1시 </p>
                                        <p>장소</p>
                                        <p>중계근린공원</p>
                                        <div class="detail">
                                            <p>상세보기</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="event_txt">
                                <a href="">[ Story in 노원 ]  우리동네 퀴즈대회</a>
                                <p>06.04(토) 오후 1시 </p>
                            </div>
                        </div>
                        <div class="swiper-slide event_item">
                            <div class="event_img">
                                <img src="img/main/event5.jpg" alt="">
                                <div class="cover">
                                    <a href="">
                                        <h3>로컬테라피 in노원</h3>
                                        <p>일시</p>
                                        <p>22.06 ~ 22.10 </p>
                                        <p>장소</p>
                                        <p>노원문화원</p>
                                        <div class="detail">
                                            <p>상세보기</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="event_txt">
                                <a href="">로컬테라피 in노원</a>
                                <p>22.06 ~ 22.10</p>
                            </div>
                        </div>
                        <div class="swiper-slide event_item">
                            <div class="event_img">
                                <img src="img/main/event7.png" alt="">
                                <div class="cover">
                                    <a href="">
                                        <h3>노원 생활문화이야기</h3>
                                        <p>일시</p>
                                        <p>6월4일 , 6월11일 14시</p>
                                        <p>장소</p>
                                        <p>노원문화예술회관 소공연장</p>
                                        <div class="detail">
                                            <p>상세보기</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="event_txt">
                                <a href="">노원 생활문화이야기</a>
                                <p>6월4일 , 6월11일 14시</p>
                            </div>
                        </div>
                        <div class="swiper-slide event_item">
                            <div class="event_img">
                                <img src="img/main/event9.png" alt="">
                                <div class="cover">
                                    <a href="">
                                        <h3>안녕 , 104마을 </h3>
                                        <p>일시</p>
                                        <p>05월21일 11시, 28일 14~17시 (토) </p>
                                        <p>장소</p>
                                        <p>노원문화예술회관 2층</p>
                                        <div class="detail">
                                            <p>상세보기</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="event_txt">
                                <a href="">안녕 , 104마을</a>
                                <p>05월21일 11시, 28일 14~17시 (토)</p>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="arrows right_arrow"></div>
                    <div class="arrows left_arrow"></div>
                </div>
            </article>
        </section>
        <!--section2------------------------->
        <div class="blank"></div>
        <!--section3------------------------->
        <section class="sec3">
            <h2>노원 아카이브</h2>
            <article>
                <div class="sec3_left">
                    <iframe src="https://www.youtube.com/embed/g0Ho2-CSdVA" title="YouTube video player"></iframe>
                </div>
                <div class="sec3_right">
                    <div>
                        <a href>
                            <div class="sec3_txt">백제부터 이어온<br>
                                “노원의 역사”</div>
                            <div class="sec3_img imgH"></div>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <div class="sec3_txt">노원의 문화재를 한눈에<br>
                                “노원 관광 지도”</div>
                            <div class="sec3_img imgM"></div>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <div class="sec3_txt">노원의 얼을 담은 노래<br>
                                “마들농요”</div>
                            <div class="sec3_img imgS"></div>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <div class="sec3_txt">동화로 보는 노원구<br>
                                “노원구 전래동화”</div>
                            <div class="sec3_img imgN"></div>
                        </a>
                    </div>
                </div>
            </article>
        </section>
        <!--section3------------------------->
        <div class="blank"></div>
        <!--section4------------------------->
        <section class="sec4">
            <article class="sec4_1">
                <div class="s4_party bor4">
                    <span>노원문화원 행사 및 안내</span>
                    <h3>노원문화 참여마당</h3>
                    <div>
                        <a href="notice">알림마당</a>
                        <a href="">자유게시판</a>
                        <a href="event">이벤트</a>
                        <a href="">Q&A</a>
                        <a href="">언론보도</a>
                        <a href="pressrelease">보도자료</a>
                    </div>
                </div>
                <div class="half">
                    <div class="s4_lent bor4">
                        <h4 class="s4_h4">대관안내</h4>
                        <p>대관절차 및 관련 신청방법과,
                             유의사항을 안내드립니다.</p>
                        <a href="">자세히보기</a>
                    </div>
                    <div class="s4_sup bor4">
                        <h4 class="s4_h4">기부/후원
                            <a href=""></a>
                        </h4>
                        <div>
                            <span></span>
                            <p>
                                노원의 지역 문화
                                계발 및 문화 소외
                                계층을 위한 사업
                                에 함께해주세요.
                            </p>
                        </div>
                    </div>
                </div>
            </article>
            <article class="sec4_2">
                <div class="half">
                    <div class="s4_ctmap bor4">
                        <p>노원의 역사와 문화,</p>
                        <h3><span>노원</span><br/>
                            문화지도</h3>
                        <a href="">자세히보기</a>
                    </div>
                    <div class="s4_nowon">
                        <div class="s4_nw_top bor4">
                            <h5>노원구민의전당</h5>
                            <a href="">자세히보기</a>
                        </div>
                        <div class="s4_nw_pers bor4">
                            <h5>노원문화의집</h5>
                            <a href="">자세히보기</a>
                        </div>
                    </div>
                </div>
                <div class="s4_weptt bor4">
                    <div class="weptt_title">
                        <h4 class="s4_h4">웹툰</h4>
                        <div>
                            <span class="weptt_left"></span>
                            <span class="weptt_right"></span>
                        </div>
                    </div>
                    <div class="weptt_box">
                        <div>
                            <a href="" class="slideWidth">
                                <img src="./img/main_weptt_1.png" alt="">
                            </a>
                            <a href="">
                                <img src="./img/main_weptt_2.png" alt="">
                            </a>
                            <a href="">
                                <img src="./img/main_weptt_3.png" alt="">
                            </a>
                            <a href="">
                                <img src="./img/main_weptt_4.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <!--section4------------------------->
         <!-- Swiper JS -->
        <!--section1------------------------->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="js/section1.js" type="text/javascript"></script>
        <!--section2------------------------->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
        <script src="js/section2.js"></script> 
        <!--section4------------------------->
        <script src="./js/section4.js"></script>