
        <section class="w1280 commonWrap">
            <article class="left">
                <div class="sideMenu">
                    <div class="side_title">
                        <h3>문화원 소개</h3>
                    </div>
                    <div>
                        <ul class="side_menu">
                            <li><a href="/vision" class="side_menu_on"><!--선택메뉴에 클래스 이동-->
                                노원 역사문화
                            </a></li>
                            <li><a>
                                노원관광지도
                            </a>
                            </li>
                            <li><a href="nongyo" href="/history_Wolgye">
                                마들농요
                            </a></li>
                            <li><a href="#">
                                사진 앨범
                            </a></li>
                            <li><a href="#">
                                동영상 앨범
                            </a></li>
                        </ul>
                    </div>
                </div>
                <!--sideMenu-->
            </article>
            <article class="commonWrap_box">
                <div class="subtitle">
                    <h2>마들농요</h2>
                </div>
                <div class="nongyo_title">
                    <h3 class="nongyo_txt1">마들농요</h3>
                    <p class="nongyo_txt2">마들에서 농사를 지을때 힘든 것을 잊고 흥을 돋구기 위해 부른 것이 마들농요이다.</p>
                </div>
                <div class="nongyo_txt3_wrap"> 
                    <div class="nongyo_txt3">
                        <span></span>
                        <h4>마들농요란?</h4>
                    </div>
                    <div class="nongyo_txt3_sub">
                        <p>
                            노원구 지역을 대표하는 곳이 마들이고 이 마들에서 농사를 지을때 힘든 것을 잊고 흥을 돋구기 위해 부른 것이 마들농요이다.
                            마들의 유래는 상계동에 역참기지가 있어 말들을 들에 놓아 키웠기 때문에 생겼다고 하는 설과 상계동 일대가 삼밭이어서 삼밭의 순우리말인 마들에서 유래했다는 주장이 있다.
                        </p>
                        <p>
                            마들농요는 열소리 계통의 모심는 소리와 호미로 애벌 맬 때의 두루차소리, 두벌 맬 때의 미나리 및 다 매갈무렵인 저녁나절에 신나게 부른 꺽음조가 추가되고 그 밖에 방아타령, 네엘 넬 넬 상사도야, 우야소리도 논매면서 더러 부른다.
                        </p>
                        <p>
                            마들농요는 문화재 관리국 이 소리 전문위원이 채보 및 고증, 구성 연출하여 무형문화재 제19호 선소리 타령을 이수한 우리국악 예술 단장 김완수 등 3명으로 부터 지도를 받아 농요 선창대에 故윤선보옹 외 7명과 노원구 시범농악대인 계산농악대의 박기옹외 43명, 기제 및 괭이에 박정환 외 4명으로 구성된 마들 농요 팀이 제1회 서울시 민속축제에 출연하였다.
                        </p>
                    </div>
                    
                </div>
                <div class="nongyo_txt3">
                    <span></span>
                    <h4>마들농요 듣기</h4>
                </div>
                <div class="nongyo_play">
                    <div class="nongyo_play_left">
                        <div class="nongyo_play_img"></div>
                        <p>하나로다 - 둘이요 - 호 둘이라 셋 어 셋 셋이로구나 셋이 - 라네</p>
                        <p>너이로구나 - 하 네잇이요 - 호 넷이면 헌 다섯 다섯이라 여선이요</p>
                        <p>여서 - 헛 일곱 일곱이냐 - 일 고흡 일곱이면 여덜 여덜여덜 여덞잉하테</p>
                        <p>여덜 아홉 아홉 - 아호오옵 아호옵이면 열 열 하니 하 - 한나</p>
                        <p>한나 하나 하나 둘이로구나 - 둘이면 - 셋</p>
                        <p>(처음부터 반복한 후 종료한다)</p>
                    </div>
                    <div class="nongyo_play_right">
                        <ul>
                            <li>
                                <p>1.아침노래</p>
                                <audio controls>
                                    해당 브라우저는 audio를 지원하지 않습니다.
                                    <source src="../img/nongyo/song1.mp3">
                                </audio>
                            </li>
                            <li>
                                <p>2. 열소리(모심기)</p>
                                <audio controls>
                                    <source src="../img/nongyo/song2.mp3">
                                </audio>
                            </li>
                            <li>
                                <p>3. 네엘 넬 넬 상사도야</p>
                                <audio controls>
                                    <source src="../img/nongyo/song3.mp3">
                                </audio>
                            </li>
                            <li>
                                <p>4. 애벌매는 소리</p>
                                <audio controls>
                                    <source src="../img/nongyo/song4.mp3">
                                </audio>
                            </li>
                            <li>
                                <p>5. 점심노래</p>
                                <audio controls>
                                    <source src="../img/nongyo/song5.mp3">
                                </audio>
                            </li>
                            <li>
                                <p>6. 방아타령</p>
                                <audio controls>
                                    <source src="../img/nongyo/song6.mp3">
                                </audio>
                            </li>
                            <li>
                                <p>7. 미나리(두벌매기)</p>
                                <audio controls>
                                    <source src="../img/nongyo/song7.mp3">
                                </audio>
                            </li>
                            <li>
                                <p>8. 우야소리</p>
                                <audio controls>
                                    <source src="../img/nongyo/song8.mp3">
                                </audio>
                            </li>
                            <li>
                                <p>9. 저녁노래(꺽음조)</p>
                                <audio controls>
                                    <source src="../img/nongyo/song9.mp3">
                                </audio>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </section>
