
        <section class="w1280 commonWrap">
            <div class="sideMenu">
                <div class="side_title">
                    <h3>문화원 소개</h3>
                </div>
                <div>
                    <ul class="side_menu">
                        <li><a href="#" class="side_menu_on"><!--선택메뉴에 클래스 이동-->
                            알림마당
                        </a>
                        </li>
                        <li><a href="#">
                            자유게시판
                        </a></li>
                        <li><a href="#">
                            이벤트
                        </a></li>
                        <li><a href="#">
                            Q&A
                        </a></li>
                        <li><a href="#">
                            언론보도
                        </a></li>
                        <li><a href="#">
                            보도자료
                        </a></li>
                    </ul>
                </div>
            </div><!--sideMenu-->
            <div class="commonWrap_box">
                <div class="sublogo">알림마당</div>
                <h1>2020년 노원 직원 채용 재공고
                    <p>2022-5-10</p>
                </h1>
                <section>
                    <img src="img/Announcement/_20220510192913.bmp">
                    <img src="img/Announcement/_20220510192923.bmp">
                    <img src="img/Announcement/_20220510192933.bmp">
                    <img src="img/Announcement/_20220510192944.bmp">
                    <div class="btn_list"><a href="">목록</a></div>
                    <ul class="next">
                        <li>
                            <p>↑ 이전글</p>
                            <a href="">2022 문화가 있는 날 스토리 in 노원 &lt;우리동네 퀴즈대회&gt; 참가자 모집</a>
                        </li>
                        <li>
                            <p>↓ 다음글</p>
                            <a href=""></a>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
