
        <section class="w1280 commonWrap">
            <div class="sideMenu">
                <div class="side_title">
                    <h3>문화원 소개</h3>
                </div>
                <div>
                    <ul class="side_menu">
                        <li><a href="#" class="side_menu_on"><!--선택메뉴에 클래스 이동-->
                            알림마당
                        </a>
                        </li>
                        <li><a href="#">
                            자유게시판
                        </a></li>
                        <li><a href="#">
                            이벤트
                        </a></li>
                        <li><a href="#">
                            Q&A
                        </a></li>
                        <li><a href="#">
                            언론보도
                        </a></li>
                        <li><a href="#">
                            보도자료
                        </a></li>
                    </ul>
                </div>
            </div><!--sideMenu-->
            <div class="commonWrap_box">
                <div class="sublogo">알림마당</div>
                <h1>2022 문화가 있는 날
                    스토리 in 노원 &lt;우리동네 퀴즈대회&gt; 참가자 모집
                    <p>2022-5-04</p>
                </h1>
                <section>
                    <div>
                    <h4><span class="yellow"></span>모집대상</h4>
                        <p><span class="fff"></span>노원구 소재 초등학교 4~6학년을 포함한 가족 50팀</p>
                        <p><span class="fff"></span>(학생 + 부모 > 2인 1팀)</p>
                    </div>
                    <div>
                    <h4><span class="yellow"></span>모집기간</h4>
                        <p><span class="fff"></span>2022. 5. 9 (월) ~ 5. 20 (금) </p>
                    </div>
                    <div>
                    <h4><span class="yellow"></span>접수방법</h4>
                        <p><span class="fff"></span>이메일 접수(jooyeon@nwcc.or.kr)</p>
                        <p>- 홈페이지 알림마당에서 참가신청서 다운로드</p>
                        <p><span class="fff"></span>네이버폼 접수(https://naver.me/FZqs4DvQ)</p>
                    </div>
                    <div>
                    <h4><span class="yellow"></span>참가자발표</h4>
                        <p><span class="fff"></span>2022. 5. 25 (수) *참가자 개별 안내 예정</p>
                    </div>
                    <div>
                    <h4><span class="yellow"></span>문의</h4>
                        <p><span class="fff"></span>노원문화원 문화사업팀 02.6380.0029</p>
                    </div>
                    <img src="img/Announcement/_20220504161549.jpg">
                    <div class="btn_list"><a href="">목록</a></div>
                    <ul class="next">
                        <li>
                            <p>↑ 이전글</p>
                            <a href="">노원 문화의집 강사
                                 공개모집</a>
                        </li>
                        <li>
                            <p>↓ 다음글</p>
                            <a href="">2020년 노원 직원 채용 재공고</a>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
