
        <section class="w1280 commonWrap">
            <div class="sideMenu">
                <div class="side_title">
                    <h3>참여마당</h3>
                </div>
                <div>
                    <ul class="side_menu">
                        <li><a href="#" class="side_menu_on"><!--선택메뉴에 클래스 이동-->
                            알림마당
                        </a>
                        </li>
                        <li><a href="#">
                            자유게시판
                        </a></li>
                        <li><a href="event">
                            이벤트
                        </a></li>
                        <li><a href="#">
                            Q&A
                        </a></li>
                        <li><a href="#">
                            언론보도
                        </a></li>
                        <li><a href="pressrelease">
                            보도자료
                        </a></li>
                    </ul>
                </div>
            </div><!--sideMenu-->
            <div class="commonWrap_box">
                <div class="sublogo">알림마당</div>
                <div class="cdct_search">
                    <form action="">
                        <select name="seachbox" id="seachbox">
                            <option value="txt">내용</option>
                            <option value="title">제목</option>
                        </select>
                        <div class="cdct_txt">
                            <input type="text" placeholder="검색어를 입력해주세요">
                            <label for="cdct_submit">
                            </label>
                            <input type="submit" id="cdct_submit">
                        </div>
                    </form>
                </div>
                <table>
                    <colgroup>
                        <col style="width: 10%;">
                        <col style="width: 5%;">
                        <col style="width: 55%;">
                        <col style="width: 15%;">
                        <col style="width: 15%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th></th>
                            <th>제목</th>
                            <th><span>작성자</span></th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a>608</a></td>
                            <td></td>
                            <td><a href="noti_608">2020년 노원 문화원 직원 채용 재공고</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.05.10</a></td>
                        </tr>
                        <tr>
                            <td><a>607</a></td>
                            <td></td>
                            <td><a href="noti_607">2022 문화가 있는 날 스토리 in 노원 &lt;우리동네 퀴즈대회&gt; 참가자 모집</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.05.04</a></td>
                        </tr>
                        <tr>
                            <td><a>606</a></td>
                            <td></td>
                            <td><a href="">노원 문화의집 강사 공개모집</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.05.02</a></td>
                        </tr>
                        <tr>
                            <td><a>605</a></td>
                            <td></td>
                            <td><a href="">2022 노원문화원 직원 채용 공고</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.04.28</a></td>
                        </tr>
                        <tr>
                            <td><a>604</a></td>
                            <td></td>
                            <td><a href="">&lt;2022 노원 청소년 역사·문화 예술제&gt; 개최안내</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.04.27</a></td>
                        </tr>
                        <tr>
                            <td><a>603</a></td>
                            <td></td>
                            <td><a href="">&lt;제1회 노원 어린이·청소년 연극제&gt; 연극교실 참여자 모집</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.04.22</a></td>
                        </tr>
                        <tr>
                            <td><a>602</a></td>
                            <td></td>
                            <td><a href="">2022 어르신문화프로그램 인생연극 &lt;웰컴 투 시니어&gt;</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.04.20</a></td>
                        </tr>
                        <tr>
                            <td><a>601</a></td>
                            <td></td>
                            <td><a href="">역사문화 힐링 토요탐방 안내</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.04.20</a></td>
                        </tr>
                        <tr>
                            <td><a>600</a></td>
                            <td></td>
                            <td><a href="">2022 노원문화아카데미 1기 수강생 모집</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.04.19</a></td>
                        </tr>
                        <tr>
                            <td><a>599</a></td>
                            <td></td>
                            <td><a href="">&lt;제1회 노원 어린이·청소년 연극제&gt; 연극교실 운영단체 공모</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.04.14</a></td>
                        </tr>
                        <tr>
                            <td><a>598</a></td>
                            <td></td>
                            <td><a href="">제1회 노원구 민간기록물 수집 공모전 공고</a></td>
                            <td><a>노원문화원</a></td>
                            <td><a>2022.04.14</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="btn_write"><a href="">글쓰기</a></div>
                <div class="page">
                    <a href=""><img src="img/common/icon_a_pre.png"></a>
                    <a href=""><img src="img/common/icon_pre.png"></a>
                    <a href="" class="num_menu_on">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href=""><img src="img/common/icon_nex.png"></a>
                    <a href=""><img src="img/common/icon_a_nex.png"></a>
                </div>
            </div>
        </section>
