    <div id="mainS4">   
        <div class="sideMenu">
            <div class="side_title">
                <h3>문화원 소개</h3>
            </div>
            <div>
                <ul class="side_menu">
                    <li><a href="nowon_introText">
                        인사말
                    </a></li>
                    <li><a href="nowon_introIntro">
                        노원문화원 소개
                    </a></li>
                    <li><a href="nowon_introHistory">
                        연혁
                    </a></li>
                    <li><a href="nowon_introOrganiz">
                        조직구성
                    </a></li>
                    <li><a href="nowon_introBOD"  class="side_menu_on">
                        임원현황/역대원장
                    </a></li>
                    <li><a href="/nowon_introConduct">
                        운영현황
                    </a></li>
                    <li><a href="nowon_introFacility">
                        시설현황
                    </a></li>
                    <li><a href="#">
                        회원안내
                    </a></li>
                    <li><a href="#">
                        협력기관
                    </a></li>
                    <li><a href="nowon_introMap">
                        찾아오시는 길
                    </a></li>
                </ul>
            </div>
        </div><!--sideMenu-->
        
        <div class="intro">
            <h2>임원현황/역대원장</h2>
            <article class="itr_wrap">
                <div class="bod">
                    
                    <input type="radio" name="tabs" id="director" checked>
                    <label for="director">역대원장</label>

                    <input type="radio" name="tabs" id="executives">
                    <label for="executives">임원현황</label>

                    <div class="directorBox">
                        <table class="dir_box_tb">
                            <colgroup>
                            <col width="15%">
                            <col width="20%">
                            <col width="30%">
                            <col width="35%">
                            </colgroup>
                            <tr>
                                <th>연번</th>
                                <th>성명</th>
                                <th>재임기간</th>
                                <th>약력</th>
                            </tr>
                            <tr>
                                <td>초대, 2대</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p_1.png" alt=""><br/>
                                    채규대 (50년생)
                                </td>
                                <td>1997.10.22∼2005.12.08</td>
                                <td>
                                    -전)천우주택건설(주)대표이사<br/>
                                    -노원애향장학회 이사장
                                </td>
                            </tr>
                            <tr>
                                <td>직무대행</td>
                                <td>김영월</td>
                                <td>2005.12.09∼2007.01.09</td>
                                <td>-노원문화원 부원장</td>
                            </tr>
                            <tr>
                                <td>3대, 4대</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p_2.png" alt=""><br/>
                                    태용철 (43년생)
                                </td>
                                <td>2007.01.10∼2010.09.28</td>
                                <td>
                                    -전)(주)서진학원 이사장<br/>
                                    -전)(사)한국청소년육성회 수석 부총재
                                </td>
                            </tr>
                            <tr>
                                <td>직무대행</td>
                                <td>이재길</td>
                                <td>2010.09.29∼2010.10.25</td>
                                <td>-노원문화원 부원장</td>
                            </tr>
                            <tr>
                                <td>4대 잔여임기</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p_3.png" alt=""><br/>
                                    채규대 (50년생)
                                </td>
                                <td>2010.10.26∼2013.12.08</td>
                                <td>
                                    -전)천우주택건설(주)대표이사<br/>
                                    -노원애향장학회 이사장              
                                </td>
                            </tr>
                            <tr>
                                <td>5대</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p_4.png" alt=""><br/>
                                    김진학 (50년생)
                                </td>
                                <td>2013.12.09∼2018.02.06</td>
                                <td>
                                    -고려대학교 지방자치법학연구회 수석이사<br/>
                                    -서울시 공무원 퇴직
                                </td>
                            </tr>
                            <tr>
                                <td>권한대행</td>
                                <td>윤병국, 최광빈</td>
                                <td>2018.02.07∼2019.02.25</td>
                                <td>-노원문화원 당연직 이사</td>
                            </tr>
                            <tr>
                                <td>6대</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p_5.png" alt=""><br/>
                                    박춘택 (53년생)
                                </td>
                                <td>2019.02.26∼2021.02.05</td>
                                <td>
                                    -현)노원구립청춘실버합창단 회장<br/>
                                    -현)오복빌딩 대표
                                </td>
                            </tr>
                            <tr>
                                <td>직무대행</td>
                                <td>이경숙</td>
                                <td>2021.02.06∼2021.03.25</td>
                                <td>-노원문화원 이사</td>
                            </tr>
                            <tr>
                                <td>7대</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p_6.png" alt=""><br/>
                                    오치정(59년생)
                                </td>
                                <td>2021.03.26∼2023.02.25</td>
                                <td>
                                    - 가톨릭관동대학교 교수<br/>
                                    - 한국체육산업개발 대표이사 역임
                                </td>
                            </tr>    
                        </table>
                    </div>
                    <div class="executivesBox">
                        <table class="dir_box_tb">
                            <colgroup>
                            <col width="15%">
                            <col width="20%">
                            <col width="30%">
                            <col width="35%">
                            </colgroup>
                            <tr>
                                <th>연번</th>
                                <th>이미지</th>
                                <th>성명</th>
                                <th>약력</th>
                            </tr>
                            <tr>
                                <td>부원장</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p2_1.png" alt="">
                                </td>
                                <td>이경숙</td>
                                <td>노원문화원 국악예술단장</td>                            </tr>
                            <tr>
                                <td>부원장</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p2_2.png" alt="">
                                </td>
                                <td>김성호</td>
                                <td>궁전빌딩 대표</td>
                            </tr>
                            <tr>
                                <td>당연직이사</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p2_3.png" alt="">
                                </td>
                                <td>최미숙</td>
                                <td>노원구청 행정지원국장</td>
                            </tr>
                            <tr>
                                <td>이사</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p2_4.png" alt="">
                                </td>
                                <td>박영식</td>
                                <td>강북연세병원 원장</td>
                            </tr>
                            <tr>
                                <td>이사</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p2_5.png" alt="">
                                </td>
                                <td>박기종</td>
                                <td>㈜원아트 컴퍼니 대표이사</td>
                            </tr>
                            <tr>
                                <td>이사</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p2_6.png" alt="">
                                </td>
                                <td>배한얼</td>
                                <td>디자인치과 원장</td>
                            </tr>
                            <tr>
                                <td>감사</td>
                                <td>
                                    <img src="./img/nowon_introBOD/p2_7.png" alt="">
                                </td>
                                <td>김대현</td>
                                <td>김대현세무회계사무소 세무사</td>
                            </tr>
                            
                        </table>
                    </div>




                </div>
            </article>
        </div><!--intro-->
    </div>