<div id="mainS4">
        <div class="sideMenu">
            <div class="side_title">
                <h3>로그인</h3>
            </div>
            <div>
                <ul class="side_menu">
                    <li><a href="/nowon_login" class="side_menu_on">
                        로그인
                    </a></li>
                    <li><a href="/nowon_signup" >
                        회원가입
                    </a></li>
                    <li><a href="/nowon_login_id">
                        아이디찾기
                    </a></li>
                    <li><a href="/nowon_login_psw">
                        비밀번호찾기
                    </a></li>
                </ul>
            </div>
        </div><!--sideMenu-->
        
        <div class="loginPg">
            <h3><span>노원문화원</span> 홈페이지에 오신 것을 환영합니다.</h3>
            <p>웹사이트에 로그인 하시면 회원만의 다양한 혜택과 서비스를 이용하실 수 있습니다.</p>
            <div class="loginBox">
                <form action="/logindata" method="post">
                    <div class="id">
                        <input type="text" name="userId" placeholder="아이디를 입력해 주세요">
                    </div>
                    <div class="psw">
                        <input type="password" name="userPsw" placeholder="비밀번호를 입력해 주세요">
                    </div>
                    <button type="submit">로그인</button>
                </form>
                <div class="loginLinkMenu">
                    <a href="">아이디 찾기</a>
                    <a href="">비밀번호 찾기</a>
                    <a href="signup">회원가입</a>
                </div>
            </div>           

        </div><!--loginBox-->
    </div>