<div id="mainS4">
        <div class="sideMenu">
            <div class="side_title">
                <h3>문화원 소개</h3>
            </div>
            <div>
                <ul class="side_menu">
                    <li><a href="nowon_introText">
                        인사말
                    </a></li>
                    <li><a href="nowon_introIntro">
                        노원문화원 소개
                    </a></li>
                    <li><a href="nowon_introHistory"class="side_menu_on">
                        연혁
                    </a></li>
                    <li><a href="nowon_introOrganiz">
                        조직구성
                    </a></li>
                    <li><a href="nowon_introBOD">
                        임원현황/역대원장
                    </a></li>
                    <li><a href="/nowon_introConduct">
                        운영현황
                    </a></li>
                    <li><a href="nowon_introFacility">
                        시설현황
                    </a></li>
                    <li><a href="#">
                        회원안내
                    </a></li>
                    <li><a href="#">
                        협력기관
                    </a></li>
                    <li><a href="nowon_introMap">
                        찾아오시는 길
                    </a></li>
                </ul>
            </div>
        </div><!--sideMenu-->
        
        <div class="intro">
            <h2>연혁</h2>
            <article class="itr_wrap">
                <div class="hbox">
                    <h3 class="history_year h_y_1">1990-1999</h3>
                    <p class="history_point"></p>
                    <div class="history_day">
                        <div class="left">
                            <div>
                                <h4>1997</h4>  
                                <p>
                                    <span>10.22</span>
                                    <span>노원문화원 창립총회(초대원장 채규대)</span>
                                </p>
                                <p>
                                    <span>12.09</span>
                                    <span>노원문화원 설립인가증 교부(서울특별시장 97-5)<br/>
                                        -문화원사 : 노원구 상계5동 172-5 벽산빌딩 5층</span>
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <div>
                                <h4>1998</h4>  
                                <p>
                                    <span>03.05</span>
                                    <span>노원문화원 개원식 및 제1차 정기총회</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--hbox-->
                <div class="hbox">
                    <h3 class="history_year h_y_2">2000-2009</h3>
                    <p class="history_point"></p>
                    <div class="history_day">
                        <div class="left">
                            <div>
                                <h4>2002</h4>  
                                <p>
                                    <span>03.05</span>
                                    <span>노원문화원 제2기 임원선출(2대원장 채규대)</span>
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <div>
                                <h4>01.10</h4>  
                                <p>
                                    <span>03.05</span>
                                    <span>노원문화원 제3기 임원선출(3대원장 태용철)<br/>
                                        - 문화원사 : 노원구 중계본동 364-4 노원문화예술회관 3층</span>
                                </p>
                            </div>
                        </div>
                        <div class="left">
                            <div>
                                <h4>2009</h4>  
                                <p>
                                    <span>05.28</span>
                                    <span>노원문화원 공릉동 단독원사 개원<br/>
                                        -문화원사 : 노원구 공릉동 710번지</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--hbox-->
                <div class="hbox">
                    <h3 class="history_year h_y_3">2010-2019</h3>
                    <p class="history_point"></p>
                    <div class="history_day">
                        <div class="left">
                            <div>
                                <h4>2010</h4>  
                                <p>
                                    <span>10.26</span>
                                    <span>노원문화원 제4기 임원선출(4대원장 채규대, 보궐)</span>
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <div>
                                <h4>2014</h4>  
                                <p>
                                    <span>02.23</span>
                                    <span>노원문화원 제5기 임원선출(5대원장 김진학)</span>
                                </p>
                            </div>
                        </div>
                        <div class="left">
                            <div>
                                <h4>2018</h4>  
                                <p>
                                    <span>02.28</span>
                                    <span>노원문화원장 권한대행(당연직이사:윤병국, 최광빈)</span>
                                </p>
                            </div>
                        </div>
                        <div class="right">
                            <div>
                                <h4>2019</h4>  
                                <p>
                                    <span>02.26</span>
                                    <span>노원문화원 제6기 임원선출(6대원장 박춘택)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--hbox-->
                <div class="hbox">
                    <h3 class="history_year h_y_4">2020-현재</h3>
                    <p class="history_point"></p>
                    <div class="history_day">
                        <div class="left">
                            <div>
                                <h4>2021</h4>  
                                <p>
                                    <span>03.26</span>
                                    <span>노원문화원 제6기 보궐임원선출(7대원장 오치정)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div><!--hbox-->
            </article>
        </div><!--intro-->
    </div>