<div id="mainS4">
        <div class="sideMenu">
            <div class="side_title">
                <h3>문화원 소개</h3>
            </div>
            <div>
                <ul class="side_menu">
                    <li><a href="nowon_introText">
                        인사말
                    </a></li>
                    <li><a href="nowon_introIntro">
                        노원문화원 소개
                    </a></li>
                    <li><a href="nowon_introHistory">
                        연혁
                    </a></li>
                    <li><a href="nowon_introOrganiz"  class="side_menu_on">
                        조직구성
                    </a></li>
                    <li><a href="nowon_introBOD" >
                        임원현황/역대원장
                    </a></li>
                    <li><a href="/nowon_introConduct">
                        운영현황
                    </a></li>
                    <li><a href="nowon_introFacility">
                        시설현황
                    </a></li>
                    <li><a href="#">
                        회원안내
                    </a></li>
                    <li><a href="#">
                        협력기관
                    </a></li>
                    <li><a href="nowon_introMap">
                        찾아오시는 길
                    </a></li>
                </ul>
            </div>
        </div><!--sideMenu-->
        
        <div class="intro">
            <h2>조직구성</h2>
            <article class="itr_wrap">
                <h3 class="itr_title">노원문화 조직도</h3>
                <div class="organiz">

                </div>
            </article>
        </div><!--intro-->
    </div>