<div id="mainS4">
        <div class="sideMenu">
            <div class="side_title">
                <h3>로그인</h3>
            </div>
            <div>
                <ul class="side_menu">
                    <li><a href="/nowon_login">
                        로그인
                    </a></li>
                    <li><a href="/nowon_signup" >
                        회원가입
                    </a></li>
                    <li><a href="/nowon_login_id">
                        아이디찾기
                    </a></li>
                    <li><a href="/nowon_login_psw" class="side_menu_on">
                        비밀번호찾기
                    </a></li>
                </ul>
            </div>
        </div><!--sideMenu-->
        
        <div class="loginPswPg">
            <h3><span>노원문화원</span> 비밀번호 찾기</h3>
            <p>가입시 입력한 아이디와 이메일 주소를 정확히 기입해 주세요.<br/>
                비밀번호 찾기를 누르면 가입 시 등록된 메일로 비밀번호가 전송됩니다.</p>
            <div class="loginPswBox">
                <form action="">
                    <div class="name">
                        <input type="text" placeholder="이름을 입력해 주세요">
                    </div>
                    <div class="id">
                        <input type="text" placeholder="아이디를 입력해 주세요">
                    </div>
                    <div class="mail">
                        <input type="password" placeholder="이메일을 입력해 주세요">
                    </div>
                    <button type="button">비밀번호 찾기</button>
                </form>
                <div class="loginPswLinkMenu">
                    <a href="nowon_login_id">아이디 찾기</a>
                    <a href="nowon_signup">회원가입</a>
                </div>
            </div>           

        </div><!--loginBox-->
    </div>