<div id="mainS4">
        <div class="sideMenu">
            <div class="side_title">
                <h3>문화원 소개</h3>
            </div>
            <div>
                <ul class="side_menu">
                    <li><a href="nowon_introText" class="side_menu_on">
                        인사말
                    </a></li>
                    <li><a href="nowon_introIntro">
                        노원문화원 소개
                    </a></li>
                    <li><a href="nowon_introHistory">
                        연혁
                    </a></li>
                    <li><a href="nowon_introOrganiz">
                        조직구성
                    </a></li>
                    <li><a href="nowon_introBOD"  >
                        임원현황/역대원장
                    </a></li>
                    <li><a href="/nowon_introConduct">
                        운영현황
                    </a></li>
                    <li><a href="nowon_introFacility">
                        시설현황
                    </a></li>
                    <li><a href="#">
                        회원안내
                    </a></li>
                    <li><a href="#">
                        협력기관
                    </a></li>
                    <li><a href="nowon_introMap">
                        찾아오시는 길
                    </a></li>
                </ul>
            </div>
        </div><!--sideMenu-->
        
        <div class="intro">
            <h2>인사말</h2>
            <article class="itr_wrap">
                <div class="itr_titleimg">
                    <h2>
                        노원의 지역문화를<br/>
                        현대적 감각으로 새롭게
                    </h2>
                    <span>노원문화원장 오 치 정</span>
                </div>
                <div class="itr_text">
                    노원문화원 누리집 방문을 환영합니다.<br/>
                    <br/>
                    노원문화원은 지역문화의 계발·보존 및 활용과 
                    지역문화의 발굴·수집·조사·연구 그리고 지역문화행사 
                    개최를 통하여 노원구민이 더욱 풍요로운 삶을 누릴 수 
                    있도록 하기 위하여 1997년 설립되었습니다.<br/>
                    <br/>
                    노원문화원은 지역의 문화예술 활성화를 통해서 지금까지 
                    한 번도 경험하지 못한 위드 코로나(With Corona)시대에 
                    노원구민들이 다시 일어설 수 있도록 용기와 희망이 
                    되겠습니다.<br/>
                    <br/>
                    노원 구민의 문화욕구 충족을 위해 포스트 코로나
                    (Post Corona)시대에 적극 대응하고 지역 사회의 
                    문화진흥과 전통문화를 보호·육성하여 노원의
                    지역문화를 현대적 감각으로 새롭게 발전시켜 
                    나가는 데 최선을 다하겠습니다.<br/>
                    <br/>
                    노원구민 여러분의 적극적인 관심과 성원을 부탁드립니다.
                </div>
            </article>
        </div><!--intro-->
    </div>