<div id="mainS4">
        <div class="sideMenu">
            <div class="side_title">
                <h3>로그인</h3>
            </div>
            <div>
                <ul class="side_menu">
                    <li><a href="/nowon_login">
                        로그인
                    </a></li>
                    <li><a href="/nowon_signup" >
                        회원가입
                    </a></li>
                    <li><a href="/nowon_login_id" class="side_menu_on">
                        아이디찾기
                    </a></li>
                    <li><a href="/nowon_login_psw">
                        비밀번호찾기
                    </a></li>
                </ul>
            </div>
        </div><!--sideMenu-->
        
        <div class="loginIdPg">
            <h3><span>노원문화원</span> 아이디 찾기</h3>
            <p>가입시 입력한 이름과 이메일 주소를 통해 아이디를 찾을 수 있습니다.</p>
            <div class="loginIdBox">
                <form action="">
                    <div class="id">
                        <input type="text" placeholder="아이디를 입력해 주세요">
                    </div>
                    <div class="mail">
                        <input type="password" placeholder="이메일을 입력해 주세요">
                    </div>
                    <button type="button">아이디 찾기</button>
                </form>
                <div class="loginIdLinkMenu">
                    <a href="nowon_login_psw">비밀번호 찾기</a>
                    <a href="nowon_signup">회원가입</a>
                </div>
            </div>           

        </div><!--loginBox-->
    </div>