    <div id="mainS4">
        <div class="sideMenu">
            <div class="side_title">
                <h3>문화원 소개</h3>
            </div>
            <div>
                <ul class="side_menu">
                    <li><a href="nowon_introText">
                        인사말
                    </a></li>
                    <li><a href="nowon_introIntro">
                        노원문화원 소개
                    </a></li>
                    <li><a href="nowon_introHistory">
                        연혁
                    </a></li>
                    <li><a href="nowon_introOrganiz">
                        조직구성
                    </a></li>
                    <li><a href="nowon_introBOD">
                        임원현황/역대원장
                    </a></li>
                    <li><a href="/nowon_introConduct">
                        운영현황
                    </a></li>
                    <li><a href="nowon_introFacility"  class="side_menu_on">
                        시설현황
                    </a></li>
                    <li><a href="#">
                        회원안내
                    </a></li>
                    <li><a href="#">
                        협력기관
                    </a></li>
                    <li><a href="nowon_introMap">
                        찾아오시는 길
                    </a></li>
                </ul>
            </div>
        </div><!--sideMenu-->
        
        <div class="intro">
            <h2>시설현황</h2>
            <article class="itr_wrap">
                <h3 class="itr_title">노원문화원 시설현황</h3>
                <div class="itr_txt">
                    노원문화원은 노원구민 여러분의 문화생활을 위하여 다양한 강좌를 운영하고 있습니다.
                    각 강좌는 특화된 강의실에서 운영 중입니다.<br/>
                    각 강의실과 시설은 노원구민의 문화강좌 및 문화생활에 필요한 경우 시설별로 대관이 가능합니다.
                    <div>
                        <img src="./img/nowon_introFacility/main_facility01.png" alt="">
                        <img src="./img/nowon_introFacility/main_facility02.png" alt="">
                    </div>
                </div>
                <div class="fc_box">
                    <input type="radio" name="tabs" id="fc_m_b1" checked>
                    <label for="fc_m_b1">B1</label>
                    <input type="radio" name="tabs" id="fc_m_f1">
                    <label for="fc_m_f1">F1</label>
                    <input type="radio" name="tabs" id="fc_m_f2">
                    <label for="fc_m_f2">F2</label>
                    <input type="radio" name="tabs" id="fc_m_f3">
                    <label for="fc_m_f3">F3</label>
                    <input type="radio" name="tabs" id="fc_m_f4">
                    <label for="fc_m_f4">F4</label>


                    <div class="fc_b1box">
                        <div class="fc_maptitle">
                            <h4>B1</h4>
                            <ul>
                                <li>- 1강의실</li>
                                <li>- 장구보관함</li>
                                <li>- 다목적강의실</li>
                                <li>- 선큰가든</li>
                                <li>- 분장실</li>
                            </ul>
                            <p>지하1층은 다목적 강의실입니다.<br/>
                                사면이 거울로 되어 있어 장구, 댄스 등의 강의실로 사용됩니다. 
                                댄스 동호회 등의 문화생활 목적으로 대관 가능합니다.</p>
                        </div>
                        <div class="fc_mapimg fc_b1">
                        </div>
                    </div>
                    <div class="fc_f1box">
                        <div class="fc_maptitle">
                            <h4>1F</h4>
                            <ul>
                                <li>- 열린민원실</li>
                                <li>-  다목적공연장</li>
                            </ul>
                            <p>지상1층의 다목적 공연장입니다.<br/>
                                무대 행사가 가능하며 마이크 및 앰프 시설이 완비되어 
                                각종 행사와 진행에 적합한 시설입니다.</p>
                        </div>
                        <div class="fc_mapimg fc_f1">
                        </div>
                    </div>
                    <div class="fc_f2box">
                        <div class="fc_maptitle">
                            <h4>2F</h4>
                            <ul>
                                <li>- 노원지역학연구소</li>
                                <li>-  작은도서관</li>
                                <li>- 4강의실</li>
                                <li>- 교보재보관실</li>

                            </ul>
                            <p>지상2층의 강의실입니다.</p>
                        </div>
                        <div class="fc_mapimg fc_f2">
                        </div>
                    </div>
                    <div class="fc_f3box">
                        <div class="fc_maptitle">
                            <h4>B1</h4>
                            <ul>
                                <li>- 2강의실</li>
                                <li>- 3강의실</li>
                                <li>- 사무국</li>
                                <li>- 원장실</li>
                            </ul>
                            <p>지상3층의 강의실입니다.</p>
                        </div>
                        <div class="fc_mapimg fc_f3">
                        </div>
                    </div>
                    <div class="fc_f4box">
                        <div class="fc_maptitle">
                            <h4>B1</h4>
                            <ul>
                                <li>- 다목적실</li>
                                <li>- 전기실</li>
                            </ul>
                            <p>지상4층의 다목적실입니다.</p>
                        </div>
                        <div class="fc_mapimg fc_f4">
                        </div>
                    </div>

                    
                </div><!--fc_box-->
            </article>
        </div><!--intro-->
    </div>