<div id="mainS4">
        <div class="sideMenu">
            <div class="side_title">
                <h3>문화원 소개</h3>
            </div>
            <div>
                <ul class="side_menu">
                    <li><a href="nowon_introText">
                        인사말
                    </a></li>
                    <li><a href="nowon_introIntro">
                        노원문화원 소개
                    </a></li>
                    <li><a href="nowon_introHistory">
                        연혁
                    </a></li>
                    <li><a href="nowon_introOrganiz">
                        조직구성
                    </a></li>
                    <li><a href="nowon_introBOD"  >
                        임원현황/역대원장
                    </a></li>
                    <li><a href="/nowon_introConduct">
                        운영현황
                    </a></li>
                    <li><a href="nowon_introFacility">
                        시설현황
                    </a></li>
                    <li><a href="#">
                        회원안내
                    </a></li>
                    <li><a href="#">
                        협력기관
                    </a></li>
                    <li><a href="nowon_introMap" class="side_menu_on">
                        찾아오시는 길
                    </a></li>
                </ul>
            </div>
        </div><!--sideMenu-->
        
        <div class="intro">
            <h2>찾아오시는 길</h2>
            <article class="itr_wrap">
                <div class="itrBox">
                    <div class="itrMap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3159.942989372904!2d127.06814830604516!3d37.6270288071616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357cbbda3426b375%3A0x2207a2496a69eff2!2z64W47JuQ66y47ZmU7JuQ!5e0!3m2!1sko!2skr!4v1653031601237!5m2!1sko!2skr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="itrMapText">
                        <h4>문화원 위치</h4>
                        <p>주소 : (01851) 서울특별시 노원구 동일로 197길 24(공릉동)</p>
                        <p>전화 :02-6380-0022~3</p>
                        <p>팩스 : 02-938-1247</p>
                        <h4>주변 대중교통 이용</h4>
                        <h5>주변 지하철</h5>
                        <p><span class="sub7"></span>공릉역(서울과학기술대)</p>
                        <p><span class="sub7"></span>하계역</p>
                        <h5>주변 정류장</h5>
                        <p><span class="jisun"></span>1135 '노원문화원' 정류장</p>
                        <p><span class="gansun"></span>105 '노원문화원' 정류장</p>
                        <p><span class="gansun"></span>146 '노원문화원' 정류장</p>
                        <p><span class="jisun"></span>1221 '노원문화원' 정류장</p>
                    
                    </div>
                </div>
            </article>
        </div><!--intro-->
    </div>