
        <div class="w1280 commonWrap">
            <section class="sideMenu_wrap">
                <div class="sideMenu">
                    <div class="side_title">
                        <h3>참여마당</h3>
                    </div>
                    <div>
                        <ul class="side_menu">
                            <li><a href="#" >
                                알림마당
                            </a>
                            </li>
                            <li><a href="#">
                                자유게시판
                            </a></li>
                            <li><a href="event" >
                                이벤트
                            </a></li>
                            <li><a href="#">
                                Q&A
                            </a></li>
                            <li><a href="#">
                                언론보도
                            </a></li>
                            <li><a href="pressrelease"class="side_menu_on">
                                보도자료
                            </a></li>
                        </ul>
                    </div>
                </div><!--sideMenu-->
            </section>
            <section class="commonWrap_box release_list">
                <h4>보도자료</h4>
                <ul class="media_list">
                    <li>
                        <a href=""> 
                            <div class="media_img media_img1"></div>
                            <div class="media_txt">
                                <h5>노원문화원, 2022 노원 청소년 역사‧문화 예술제 작품 공모 진행</h5>
                                <p>
                                    노원문화원, 2022 노원 청소년 역사‧문화 예술제 작품 공모 진행
                                    - 그림, 백일장, 캘리그라피… 재능과 꿈을 펼쳐보아요! -
                                    노원문화원(원장 오치정)이 5월 2일부터 5월 31일까지 한 달여간 ‘2022 노원 청소년 역사‧문화 예술제’ 작품 공모를 진행한다.
                                    ‘2022 노원 청소년 역사‧문화 예술제’의 테마는 ‘경춘선 숲길 가득 푸르른 꿈’으로, 그림, 캘리그라피, 백일장 세 부문으로 작품을 모집한다.
                                </p>
                                <span>22.05.17</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="media_img media_img2"></div>
                            <div class="media_txt">
                                <h5>노원문화원, 6월 4일 문화가 있는 날 '스토리 in 노원' 개최</h5>
                                <p>
                                    노원문화원, 6월 4일 문화가 있는 날 '스토리 in 노원' 개최
                                    - '골든벨을 울려라!' 우리동네 퀴즈대회 참가자 모집 -
                                    노원문화원(원장 오치정)이 6월 4일 문화가 있는 날을 맞아 지역 창작극과 퀴즈대회를 즐길 수 있는 ‘스토리 in 노원’을 중계근린공원에서 선보인다.
                                </p>
                                <span>22.05.09</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="media_img media_img3"></div>
                            <div class="media_txt">
                                <h5>노원문화원, 어린이·청소년 연극교실 참가자 모집</h5>
                                <p>
                                    노원문화원, 어린이·청소년 연극교실 참가자 모집
                                    - 연극의 기초부터 연습, 실제 공연까지… 무대 위 주인공을 찾아라! -
                                    노원문화원(원장 오치정)은 ‘제1회 노원 어린이·청소년 연극제’의 연극교실 참가자를 모집한다고 밝혔다.
                                </p>
                                <span>22.05.02</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="media_img media_img4"></div>
                            <div class="media_txt">
                                <h5>“노원 대표 굿즈 모여라!” 노원문화원, 노원 굿즈 공모전 개최</h5>
                                <p>
                                    “노원 대표 굿즈 모여라!”노원문화원, 노원 굿즈 공모전 개최
                                    - 총상금 600만원… 수상작 전시 및 라이브커머스 기회 제공 -
                                    노원문화원(원장 오치정)은 노원구의 역사문화관광자원을 활용한 독창적이고 실용적인 관광기념품을 발굴하기 위해 ‘노원 굿즈 공모전’을 개최한다고 밝혔다.
                                </p>
                                <span>22.05.02</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="media_img media_img5"></div>
                            <div class="media_txt">
                                <h5>노원문화원, 6월부터 문화가 있는 날 '로컬테라피 in 노원' 운영</h5>
                                <p>
                                    노원문화원, 6월부터 문화가 있는 날 ‘로컬테라피 in 노원’ 운영
                                    - 다채로운 노원 지역특화프로그램으로 ‘노원다움’ 만끽! -
                                    노원문화원(원장 오치정)은 오는 6월부터 10월까지 매월 다채로운 주제로 2022 문화가 있는 날 지역특화프로그램 ‘로컬테라피 in 노원’을 진행한다고 밝혔다.
                                </p>
                                <span>22.05.02</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="media_img media_img6"></div>
                            <div class="media_txt">
                                <h5>노원문화원, 백사재생지원세터 업무협약(MOU)체결</h5>
                                <p>
                                    노원문화원·백사재생지원센터 업무협약(MOU) 체결
                                    지역 역사문화자원의 조사, 연구 등 공동 협력체계 구축
                                    노원문화원(원장 오치정)이 백사재생지원센터와 지역 역사문화자원의 조사·발굴 및 연구, 대중화 사업 추진을 위해 업무협약(MOU)을 체결했다.
                                </p>
                                <span>22.04.26</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="media_img media_img7"></div>
                            <div class="media_txt">
                                <h5>노원문화원, 문화관광해설사 위촉식 진행</h5>
                                <p>
                                    노원문화원, 문화관광해설사 위촉식 수여
                                    지역문화관광 활성화를 위한 교육사업 프로그램 진행
                                    노원문화원(원장 오치정)은 지역문화관광 활성화를 위한 지역 문화유산 교육사업 프로그램을 추진하기 위하여 2022년 3월 31일(목) 문화관광해설사 위촉식을 가졌다.
                                </p>
                                <span>22.04.26</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="media_img media_img8"></div>
                            <div class="media_txt">
                                <h5>노원문화원, 지역기록 활동가 양성교육 사업 진행</h5>
                                <p>
                                    노원문화원, 지역기록 활동가 양성 사업 추진
                                    주민참여형 지역기록의 발판 마련
                                    노원문화원(원장 오치정)이 주민과 함께 지역을 기록하는 ‘지역기록 활동가’ 양성 프로그램을 추진한다.
                                    최근 지역 기록에 대한 관심이 높아지면서 주민참여형 기록 활동이 활발해지고 있다. 민간기록을 어떻게 수집하고 관리해야 하는지에 대한 논의에도 관심이 높다.
                                </p>
                                <span>22.04.26</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="page">
                    <ul>
                       <li><a href=""><img src="/img/common/icon_a_pre.png"></a></li>
                       <li><a href=""><img src="/img/common/icon_pre.png"></a></li>
                       <li><a href="" class="active">1</a></li>
                       <li><a href="">2</a></li>
                       <li><a href="">3</a></li>
                       <li><a href="">4</a></li>
                       <li><a href="">5</a></li>
                       <li><a href=""><img src="/img/common/icon_a_nex.png"></a></li>
                       <li><a href=""><img src="/img/common/icon_nex.png"></a></li>
                    </ul>
                </div>
            </section>
        </div>
