
        <section class="w1280 commonWrap">
            <div class="sideMenu">
                <div class="side_title">
                    <h3>노원 아카이브</h3>
                </div>
                <div>
                    <ul class="side_menu">
                        <li  class="side_list"><a href="#" ><!--선택메뉴에 클래스 이동-->
                            노원 역사문화
                        </a>
                            <!--메뉴 내 서브메뉴(서브메뉴 없다면 ul째로 삭제)-->
                            <ul class="side_submenu">
                                <li ><a href="vision" class="side_submenu_on"><!--선택메뉴에 클래스 이동-->
                                    노원의 비전과 상징
                                </a></li>
                                <li><a href="history_nowon">
                                    노원의 역사
                                </a></li>
                            </ul>
                        </li>
                        <li  class="side_list"><a href="#">
                            노원관광지도
                        </a>
                            <ul class="side_submenu">
                                <li><a href="history_Wolgye"><!--선택메뉴에 클래스 이동-->
                                    월계동
                                </a></li>
                                <li><a href="#">
                                    공릉동
                                </a></li>
                                <li><a href="history_Sanggye">
                                    상계동
                                </a></li>
                                <li><a href="#">
                                    중계동
                                </a></li>
                                <li><a href="#">
                                    하계동
                                </a></li>
                            </ul>
                        </li>
                        <li  class="side_list"><a href="nongyo">
                            마들농요
                        </a></li>
                        <li  class="side_list"><a href="#">
                            사진 앨범
                        </a></li>
                        <li  class="side_list"><a href="#">
                            동영상 앨범
                        </a></li>
                    </ul>
                </div>
            </div><!--sideMenu-->
            <div class="commonWrap_box">
                <div class="sublogo">노원의 비전과 상징</div>
                <article>
                    <h2><span></span>노원구 비전</h2>
                    <img class="v_logo" src="/img/symbol/img-manifesto-logo.gif">
                    <p>산업·경제 기반을 갖춘 자족도시로 나가는 노력과 함께 노원구민 누구나 자연환경 속에서 문화를 향유하고,
                        <br>소소한일상의 행복을 쌓아나가는 힐링도시</p>
                </article>
                <article>
                    <h2><span></span>목표</h2>
                    <p>오늘이 행복하고 내일이 기대되고 노원을 만들어 갈 6대 분야 Keyword는 힐링, 문화, 건강복지, 교육, 교통, 미래</p>
                    <img class="v_imgW" src="/img/symbol/img-3.png">
                    <img class="v_imgM" src="img/symbol/img-manifesto-six-keyword-mobile.png">
                </article>
                <article>
                    <h2><span></span>노원의 상징</h2>
                    <h3><span class="fff"></span>엠블렘</h3>
                    <div class="symbol">
                        <div class="symbol_img"><img src="/그린씽/"></div>
                        <div class="symbol_txt"><p></p>
                            <h4>구새(鳥)인 산비둘기와 구 꽃인 산철쭉을 바탕으로
                            힐링 · 문화 · 건강복지 · 교육 · 교통도시를 추구하는 노원구의 이상을 형상화</h4></div>
                    </div>
                    <h3><span class="fff"></span>휘장</h3>
                    <div class="symbol">
                        <div class="symbol_img"><img src="/img/symbol/flag.png"></div>
                        <div class="symbol_txt"><p></p><h4>구새(鳥)인 산비둘기와 구 꽃인 산철쭉을 바탕으로 노원구가 경제, 주거, 문화, 교육, 사회복지,
                            환경분야에서 역동적이고 힘찬 모습으로 발전하는 의지를 형상화
                            노원구를 상징하는 산비둘기와 함께 명산인 수락, 불암산으로 둘러싸인 천혜의 자연환경과 대단위
                            아파트 단지 조성으로 인한 무한한 잠재력을 지닌 신시가지를 주요 소재로 선정하여 표현.</h4> </div>
                    </div>
                    <h3><span class="fff"></span>구 꽃</h3>
                    <div class="symbol">
                        <div class="symbol_img"><img src="/img/symbol/flower.png"></div>
                        <div class="symbol_txt"><p>산철쭉(산철쭉:Royal Azalea)</p>

                            <h4>산철쭉은 수락산과 불암산에 많이 분포하며 정열과 명예의 상징으로
                            노원구민의 진취적인 기상을 상징</h4></div>
                    </div>
                    <h3><span class="fff"></span>구 목</h3>
                    <div class="symbol">
                        <div class="symbol_img"><img src="/img/symbol/tree.png"></div>
                        <div class="symbol_txt"><p>은행나무(은행나무:Ginkgo)</p><h4>병충해에 강하고 청량감을 주며 수명이 길어 무병장수를 의미하는 나무로 꼽히며,
                            또한 거목으로 성장하는 특성을 지녀 무한한 발전을 상징</h4></div>
                    </div>
                    <h3><span class="fff"></span>구 초</h3>
                    <div class="symbol">
                        <div class="symbol_img"><img src="/img/symbol/htm_2016100213417961192.jpg"></div>
                        <div class="symbol_txt"><p>갈대(갈대:Reed)</p><h4>노원은 옛날 넓은 평야지대에 갈대밭이 많아 갈대노(蘆), 벌판원(原)자를 써서 노원이 됨</h4></div>
                    </div>
                    <h3><span class="fff"></span>구 동물</h3>
                    <div class="symbol">
                        <div class="symbol_img"><img src="/img/symbol/98481248.4.jpg"></div>
                        <div class="symbol_txt"><p>말(말:horse)</p><h4>노원은 남쪽과 북쪽을 이어주는 사통팔달의 교통요충지로 조선시대의 도읍지인 한양과 가깝고 강원도와 함경도로 가는 중간에 위치하면서 역원이 만들어 지고 갈대밭에 말들이 뛰어다닌 것에 유래해 ‘마들(馬+들판)’이라고도 불림</h4></div>
                    </div>
                    <h3><span class="fff"></span>구 조</h3>
                    <div class="symbol">
                        <div class="symbol_img"><img src="/img/symbol/bird.png"></div>
                        <div class="symbol_txt"><p>산비둘기(산비둘기:Ringdove)</p><h4>산비둘기는 평화를 상징하는 길조로서 수락, 불암산에 분포된 텃새</h4></div>
                    </div>
                </article>
                <article>
                    <h2><span></span>구민의 노래</h2>
                    <div class="sing">

                        <p>독창:조영남, 이중창:박인수,이인숙, 합창:노원구 합창단</p>
                        <img src="/img/symbol/img-sing-bottom.jpg">
                    </div>
                    <audio controls>
                        <source src="/img/audio/합창(노원구합창단).mp3" type="audio/mp3">
                    </audio>
                </article>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="../js/sidemenu.js"></script>
