.sec3{
    width: 100%;
    height: 830px;
    background-image: url(/img/main_cybertheater_bg.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 60px 0;
    box-sizing: border-box;
}
.sec3>h2{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 500;
}
.sec3>article{
    width: 1280px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;

}
.sec3_left{
    width: 65%;
    height: 460px;
    box-shadow: 0px 0px 20px #9e9e9e;
}
.sec3_left>iframe{
    width: 100%;
    height: 460px;
}
.sec3_right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}
.sec3_right>div{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;

}
.sec3_right>div>a{
    display: block;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    color: #333;
}
.sec3_txt{
    text-align: right;
    margin-right: 20px;
}
.sec3_img{
    width: 160px;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.imgH{
    background-image: url(../img/art_16225316192379_f672f1.png);
}
.imgM{
    background-image: url(../img/940765_20170405163042_312_0001.jpg);
}
.imgS{
    background-image: url(../img/Untitled-1.jpg);
}
.imgN{
    background-image: url(../img/images.jpg);
}




@media screen and (max-width: 1280px){

.sec3>article{
    width: 100%;
}



}

@media screen and (max-width: 960px){
    .sec3{
        padding: 30px 0;
        height: 980px;
    }
    .sec3>article{
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .sec3_left{
        width: 100%;
        margin-bottom: 30px;
    }
    .sec3_left>iframe{
        width: 100%;
    }
    .sec3_right{
        width: 100%;
    }
    .sec3_right>div{
        width: 50%;
    }
}








@media screen and (max-width: 720px){
    .sec3>article{
        padding: 0 15px;
    }
    .sec3_txt{
        font-size: 14px;
    }
}