
/*-----------------------*/
table{
    width: 100%;
}
thead{
    border-bottom: 1px solid #fe7a4a;
}
thead th{
    padding: 16px 16px 16px 20px;
}
tbody>tr{
    border-bottom: 1px solid #f0f0f0;
}
tbody td{
    padding: 16px;
    text-align: center;
}
tbody td:nth-child(3){
    text-align: left;
}
tbody td>a{
    display: block;
    width: 100%;
    color: #333;
    font-weight: 500;
}
tbody tr:hover{
    background: #f9f9f9;
}

